<!-- Books Page Template with Modern Design -->
<main>
  <!-- Static sections with modern design -->
  {% section 'books_hero' %}
  {% section 'book_showcase_modern' %}
  {% section 'book_testimonials_modern' %}
  {% section 'book_showcase_modern_alt' %}
  {% section 'author_bio_modern' %}
  {% section 'newsletter_cta_modern' %}
  
  <!-- Allow additional dynamic sections to be added -->
  {{ content_for_index }}
</main>