{% comment %}
  Product Template - Using modern sections
{% endcomment %}

{% section "product_hero_modern" %}
<div class="section section--global section--product">
  <div class="container">
    <div class="row section__row">
      <div class="section__body col-lg-12">
        {% section "product_body_modern" %}
      </div>
    </div>
  </div>
</div>