
{% include "base_html" %}

{% schema %}
{
  "name": "Resume",
 
  "elements": [
    {
      "type": "text",
      "id": "section_name",
      "label": "Section Name",
      "default": ""
     },
      {
          "type": "grid",
          "id": "width",
          "label": "Container Width",
          "default": "6"
      },
      {
          "type": "grid",
          "id": "mobile_width",
          "label": "Container Width Mobile",
          "default": "12"
      },
      {
       "type": "textarea",
       "id": "section_style",
       "label": "Section Style",
       "default": "/* -- Desktop Style --*/\n\n\n/* -- Mobile Style --*/\n\n"
     }    
  ],   
 
  "groups": [
    {
    "name": "Background",
    "elements": [
      {
        "type": "select",
        "label": "Background Color",
        "id": "background_color_preset",
        "options": [
          {
            "value": "--bg-color-1",
            "label": "Background Color 1"
          },
          {
            "value": "--bg-color-2",
            "label": "Background Color 2"
          },
          {
            "value": "--bg-color-3",
            "label": "Background Color 3"
          },
          {
            "value": "--bg-color-4",
            "label": "Background Color 4"
          },
          {
            "value": "--accent-color-1",
            "label": "Accent Color 1"
          },
          {
            "value": "--accent-color-2",
            "label": "Accent Color 2"
          },
          {
            "value": "--accent-color-3",
            "label": "Accent Color 3"
          },
          {
            "value": "--accent-color-4",
            "label": "Accent Color 4"
          },     
          {
            "value": "No Background Color",
            "label": "No Background Color"
          }
        ]
      },
      {
        "type": "color",
        "label": "Custom Background Color",
        "id": "background_color",
        "allow_blank": true,
        "info": "Set a background color or apply a color overlay to your background image or video. Use the color wheel slider to adjust opacity."
      },
      {
        "type": "select",
        "id": "bg_type",
        "label": "Background Media Type",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "image",
            "label": "Image"
          },
          {
            "value": "video",
            "label": "Video"
          }
        ]
      },
      {
        "type": "video",
        "id": "bg_video",
        "label": "Background Video"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image",
        "info": "A good background image sets the tone for your website without distracting from your content. Suggested dimensions: 2880 × 1200.",
        "fit": "max",
        "width": 3000,
        "height": 3000
      },
      {
        "type": "select",
        "id": "bg_position",
        "label": "Background Image Position",
        "default": "center center",
        "info": "Positioning of the background image.",
        "options": [
          {"value": "left top", "label": "Left Top"},
          {"value": "left center", "label": "Left Center"},
          {"value": "left bottom", "label": "Left Bottom"},
          {"value": "right top", "label": "Right Top"},
          {"value": "right center", "label": "Right Center"},
          {"value": "right bottom", "label": "Right Bottom"},
          {"value": "center top", "label": "Center Top"},
          {"value": "center center", "label": "Center Center"},
          {"value": "center bottom", "label": "Center Bottom"}
        ]
      },

      {
        "type": "radio",
        "id": "bg_size",
        "label": "Background Size",
        "default": "cover",
        "options": [
          {"value": "contain", "label": "Contain"},
          {"value": "cover", "label": "Cover"}
        ]
      },
      
      {
        "type": "checkbox",
        "id": "bg_repeat",
        "label": "Repeat Background",
        "default": "false"
      },
      {
        "type": "text",
        "id": "bg_precise_position",
        "label": "Precise Background position - exmp:30% 50%",
        "default": ""
      },
      {
        "type": "checkbox",
        "id": "bg_mobie_hide",
        "label": "Hide Background on mobile",
        "default": "false"
      },
      { 
        "type": "checkbox",
        "id": "background_fixed",
        "label": "Fixed Background Image (Parallax)",
        "default": "true",
        "info": "Make this section's background image fixed on scroll. Does not apply to mobile devices."
      }
    ]
  },
    {
    "name": "Desktop Layout",
    "elements": [
      {
        "type": "checkbox",
        "id": "hide_on_desktop",
        "label": "Hide Section",
        "default": "false",
        "info": "This will hide this section on desktop."
      },
      {
        "type": "spacer",
        "id": "padding_desktop",
        "label": "Desktop Section Padding",
        "info": "Adjust padding inside of the section. Hold shift to increment/decrement by 10.",
        "placeholder": {
          "top": "100",
          "right": "40",
          "bottom": "100",
          "left": "40"
        }
      },
      {
        "type": "text",
        "id": "content_width",
        "label": "Content Width",
        "default": "",
        "info": "Leave blank to use theme default."
      },
      {
        "type": "checkbox",
        "id": "equal_height",
        "label": "Equal Height Blocks",
        "default": "false",
        "info": "Make this section's blocks equal height."
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Make Section Full Width",
        "default": "false",
        "info": "This section will fill the full width of the browser window."
      },
      {
        "type": "checkbox",
        "id": "full_height",
        "label": "Make Section Full Height",
        "default": "false",
        "info": "This section will fill the full height of the browser window."
      }
    ]
  },
    {
    "name": "Mobile Layout",
    "elements": [
      {
        "type": "checkbox",
        "id": "hide_on_mobile",
        "label": "Hide Section",
        "default": "false",
        "info": "This will hide this section on mobile."
      },
      {
        "type": "spacer",
        "id": "padding_mobile",
        "label": "Mobile Section Padding",
        "info": "Adjust padding inside of the section",
        "placeholder": {
          "top": "40",
          "right": "10",
          "bottom": "40",
          "left": "10"
        }
      }
    ]
  },
    {
      "name": "Image Placeholders",
      "elements": [
        {
          "type": "textarea",
          "id": "image_placeholders",
          "label": "Image Placeholders",
          "default": ""
        }
      ]
    }
  ],
  
  "blocks": [
    { 
    "type": "clmn",
    "name": "Column",
    "groups": [
    ],
    "elements": [
        {
            "type": "grid",
            "id": "clmn_width",
            "label": "Width",
            "default": "6"
          },
          {
            "type": "grid",
            "id": "clmn_mobile_width",
            "label": "Mobile Width",
            "default": "12"
          },
          {
            "type": "select",
            "id": "position_clmn",
            "label": "Position (container)",
            "default": "0",
            "options": [
    {
      "value": "0",
      "label": "Within parent container"
    },
    {
        "value": "1",
        "label": "Within column 1"
    }, 
    {
        "value": "2",
        "label": "Within column 2"
    }, 
    {
        "value": "3",
        "label": "Within column 3"
    }, 
    {
        "value": "4",
        "label": "Within column 4"
    }, 
    {
        "value": "5"    ,
        "label": "Within column 5"
    }, 
    {
        "value": "5"    ,
        "label": "Within column 5"
    }
  ]
          },
          {
            "type": "textarea",
            "id": "clmn_style",
            "label": "Style",
            "default": "/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n"
          }
    ]
  },
    { 
    "type": "text",
    "name": "Text",
    "groups": [
      {
    "name": "Text Animation",
    "elements": [
      {
        "type": "select",
        "id": "animation_effect",
        "label": "Animation Effect",
        "default": "none",
        "options": [
          { "label": "None", "value": "none" },
          { "label": "Count Up", "value": "Count Up" },
          { "label": "Effect 1", "value": "1" },
          { "label": "Effect 2", "value": "2" },
          { "label": "Effect 3", "value": "3" },
          { "label": "Effect 6", "value": "6" },
          { "label": "Effect 7", "value": "7" },
          { "label": "Effect 9", "value": "9" },
          { "label": "Effect 10", "value": "10" },
          { "label": "Effect 11", "value": "11" },
          { "label": "Effect 12", "value": "12" },
          { "label": "Effect 13", "value": "13" },
          { "label": "Effect 14", "value": "14" },
          { "label": "Effect 16", "value": "16" }
        ]
      },
      {
        "type": "checkbox",
        "id": "text_animation_loop",
        "label": "Run in loop",
        "default": "false"
      }
    ]
},
      {
    "name": "Link",
    "elements": [
      {
        "type": "select",
        "id": "link_type",
        "label": "Link type",
        "default": "no link",
        "options":[
            { 
                "value":"no link",
                "label":"No link"
            },
            { 
                "value":"Open in same window",
                "label":"Open in same window"
            },
            { 
                "value":"Open in a new window",
                "label":"Open in a new window"
            }
        ]
    },
      {
        "type": "action",
        "id": "action",
        "label": "Action",
        "anchor": true,
        "two_step": true,
        "default": "#"
      }
    ]
  },
  

  {
    "name": "Background",
    "elements": [
      {
        "type": "checkbox",
        "id": "use_image",
        "label": "Use Image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background_image",
        "default": ""
      }
  ] 
}
    ],
    "elements": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "select",
        "id": "text_source",
        "label": "Text Source",
        "default": "Post Title",
        "options":[
            { 
                "value":"text",
                "label":"Custom Text"
            },
            { 
                "value":"post_title",
                "label":"Post Title"
            },
            { 
                "value":"post_body",
                "label":"Post Body"
            },
            { 
                "value":"video_duration",
                "label":"Video Duration"
            },
            { 
              "value":"post_category",
              "label":"Post Category"
          },
          { 
            "value":"custom_fields",
            "label":"Custom Fields"
          },
          { 
            "value":"custom_tags",
            "label":"Tags"
          }
        ]
      },
      {
        "type": "text",
        "label": "Custom Field Title",
        "id": "custom_field_title",
        "default": ""
      }, 
      {
        "type": "text",
        "label": "Truncate Content (Characters Limit)",
        "id": "truncate_content",
        "default": "500"
      },
      {
        "type": "rich_text",
        "label": "Custom Text",
        "id": "text",
        "default": "Lorem ipsum dolor sit amet"
      },
      {
        "type": "checkbox",
        "id": "link_to_post",
        "label": "Link To Post",
        "default":  false
    },

    {
        "type": "text",
        "label": "Video Duration Postfix",
        "id": "video_duration_postfix",
        "default": " Min"
      }, 
    
      

  {
    "type": "grid",
    "id": "width",
    "label": "Width",
    "default": "12"
  },
  {
    "type": "grid",
    "id": "mobile_width",
    "label": "Mobile Width",
    "default": "12"
  },
  {
    "type": "checkbox",
    "id": "auto_width",
    "label": "Auto width",
    "default": "false"
  },
      {
        "type": "textarea",
        "id": "style",
        "label": "Style",
        "default": "/* -- Desktop Style --*/\ncolor:#444;\nfont-size:18px; \n\n\n/* -- Mobile Style --*/\n\n  "
      }
    ]
  },
    { 
    "type": "image",
    "name": "Image / Icon",
    "groups": [
      {
    "name": "Link",
    "elements": [
      {
        "type": "select",
        "id": "link_type",
        "label": "Link type",
        "default": "no link",
        "options":[
            { 
                "value":"no link",
                "label":"No link"
            },
            { 
                "value":"Open in same window",
                "label":"Open in same window"
            },
            { 
                "value":"Open in a new window",
                "label":"Open in a new window"
            }
        ]
    },
      {
        "type": "action",
        "id": "action",
        "label": "Action",
        "anchor": true,
        "two_step": true,
        "default": "#"
      }
    ]
  },
  

  {
    "name": "Background",
    "elements": [
      {
        "type": "checkbox",
        "id": "use_image",
        "label": "Use Image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background_image",
        "default": ""
      }
  ] 
} 
    ],
    "elements": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "select",
        "id": "image_source",
        "label": "Image Source",
        "default": "Post Image",
        "options":[
            { 
                "value":"Custom Image",
                "label":"Custom Image"
            },
            { 
                "value":"Post Image",
                "label":"Post Image"
            }
        ]
      },
      
      {
        "type": "image_picker",
        "label": "Image",
        "id": "image",
        "default": "https://kajabi-themes.s3.amazonaws.com/assets/images/placeholder.png"
      },
      {
        "type": "checkbox",
        "id": "link_to_post",
        "label": "Link To Post",
        "default":  false
     },
      

  {
    "type": "grid",
    "id": "width",
    "label": "Width",
    "default": "12"
  },
  {
    "type": "grid",
    "id": "mobile_width",
    "label": "Mobile Width",
    "default": "12"
  },
  {
    "type": "checkbox",
    "id": "auto_width",
    "label": "Auto width",
    "default": "false"
  },
      {
    "type": "text",
    "label": "Alt tag",
    "id": "image_alt",
    "default": ""
},
{
    "type": "range",
    "id": "image_radius",
    "label": "Image Radius",
    "default": "0",
    "min": "0",
    "max": "1000"
},    
{
    "type": "header",
    "content": "Icon"
},
{
    "type": "checkbox",
    "label": "Use Icon instead",
    "id": "use_icon",
    "default": ""
},
{
    "type": "text",
    "label": "Icon ID / SVG code / URL",
    "id": "icon_id",
    "default": "fas fa-chalkboard-teacher"
},
{
    "type": "color",
    "label": "Icon Color",
    "id": "icon_color",
    "allow_blank":"true",
    "default": ""
},
{
    "type": "range",
    "id": "icon_size",
    "label": "Icon Size",
    "default": "30",
    "min": "5",
    "max": "200"
}, 
{
    "type": "checkbox",
    "label": "Mask Image",
    "id": "mask_image",
    "default": "false"
},  
{
    "type": "text",
    "label": "Mask - Preset Shape / SVG Code ",
    "id": "mask_preset_shape",
    "default": ""
},
      {
        "type": "textarea",
        "id": "style",
        "label": "Style",
        "default": "/* -- Desktop Style --*/ \n\n\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\n\n "
      }

    ]
  }, 
    { 
    "type": "custom_code",
    "name": "Custom Code",
    "groups": [
      {
    "name": "Link",
    "elements": [
      {
        "type": "select",
        "id": "link_type",
        "label": "Link type",
        "default": "no link",
        "options":[
            { 
                "value":"no link",
                "label":"No link"
            },
            { 
                "value":"Open in same window",
                "label":"Open in same window"
            },
            { 
                "value":"Open in a new window",
                "label":"Open in a new window"
            }
        ]
    },
      {
        "type": "action",
        "id": "action",
        "label": "Action",
        "anchor": true,
        "two_step": true,
        "default": "#"
      }
    ]
  },
  

  {
    "name": "Background",
    "elements": [
      {
        "type": "checkbox",
        "id": "use_image",
        "label": "Use Image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background_image",
        "default": ""
      }
  ] 
} 
    ],
    "elements": [
      {
        "type": "header",
        "content": "Custom Code"
      },
      

  {
    "type": "grid",
    "id": "width",
    "label": "Width",
    "default": "12"
  },
  {
    "type": "grid",
    "id": "mobile_width",
    "label": "Mobile Width",
    "default": "12"
  },
  {
    "type": "checkbox",
    "id": "auto_width",
    "label": "Auto width",
    "default": "false"
  },
      {
        "type": "textarea",
        "id": "custom_code",
        "label": "Custom Code",
        "default": ""
      },
      {
        "type": "textarea",
        "id": "style",
        "label": "Style",
        "default": "/* -- Desktop Style --*/ \n\n\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\n\n "
      }
    ]
  }, 
    { 
    "type": "button",
    "name": "Button",
    "groups": [
      
      {
    "name": "Link",
    "elements": [
      {
        "type": "select",
        "id": "link_type",
        "label": "Link type",
        "default": "no link",
        "options":[
            { 
                "value":"no link",
                "label":"No link"
            },
            { 
                "value":"Open in same window",
                "label":"Open in same window"
            },
            { 
                "value":"Open in a new window",
                "label":"Open in a new window"
            }
        ]
    },
      {
        "type": "action",
        "id": "action",
        "label": "Action",
        "anchor": true,
        "two_step": true,
        "default": "#"
      }
    ]
  },
  

  {
    "name": "Background",
    "elements": [
      {
        "type": "checkbox",
        "id": "use_image",
        "label": "Use Image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background_image",
        "default": ""
      }
  ] 
} 
    ],
    "elements": [
      {
        "type": "header",
        "content": "Button"
      },
      
      

  {
    "type": "grid",
    "id": "width",
    "label": "Width",
    "default": "12"
  },
  {
    "type": "grid",
    "id": "mobile_width",
    "label": "Mobile Width",
    "default": "12"
  },
  {
    "type": "checkbox",
    "id": "auto_width",
    "label": "Auto width",
    "default": "false"
  },
      {
    "type": "select",
    "id": "button_preset",
    "label": "Button preset",
    "default": "p1_",
    "options":[
        { 
            "value":"p1_",
            "label":"Preset 1"
        },
        { 
            "value":"p2_",
            "label":"Preset 2"
        },
        { 
            "value":"p3_",
            "label":"Preset 3"
        },
        { 
            "value":"p4_",
            "label":"Preset 4"
        }
    ]
  },
  {
    "type": "checkbox",
    "id": "inherit_defaults",
    "label": "Inherit Defaults",
    "default": true
    },
 {
    "type": "text",
    "id": "button",
    "label": "text",
    "default": "Sign Up"
   },
   {
    "type": "checkbox",
    "id": "link_to_resume_post",
    "label": "Link to Resume Post",
    "default": true
},
{
    "type": "text",
    "id": "start",
    "label": "Start Text",
    "default": "Start Course"
  },
  {
    "type": "text",
    "id": "resume",
    "label": "Resume Text",
    "default": "Resume Course"
  },
  {
    "type": "text",
    "id": "again",
    "label": "Restart Course Text",
    "default": "Start Course Over"
  }
,
   {
    "type": "action",
    "id": "cta_action",
    "label": "Action",
    "default": "#"
   },
   {
    "type": "checkbox",
    "id": "in_new_tab",
    "label": "Open in new tab",
    "default": "false"
   }, 
   
  {
    "type": "checkbox",
    "id": "inherit_defaults",
    "label": "Inherit Defaults",
    "default": true
    },
   {
    "type": "header",
    "content": "Overwrite defaults."   
  },
   {
    "type": "checkbox",
    "id": "cta_outline",
    "label": "Outline Only",
   "default": "false"
   },
   {
    "type": "color",
    "id": "cta_bg_color",
    "label": "Background color",
     "allow_blank": true
   },
   {
    "type": "color",
    "id": "cta_color",
    "label": "Color",
     "allow_blank": true
   },

   {
    "type": "text",
    "id": "cta_min_width",
    "label": "Minimum width",
    "default": ""
   },
   {
    "type": "text",
    "id": "cta_min_height",
    "label": "Minimum height",
    "default": ""
   },
   {
    "type": "text",
    "id": "cta_font_size",
    "label": "Font size",
    "default": ""
   },

   {
    "type": "text",
    "id": "cta_min_width_mobile",
    "label": "Minimum width - Mobile",
    "default": ""
   },
   {
    "type": "text",
    "id": "cta_min_height_mobile",
    "label": "Minimum height - Mobile",
    "default": ""
   },
   {
    "type": "text",
    "id": "cta_font_size_mobile",
    "label": "Font size - Mobile",
    "default": ""
   },

   
   {
    "type": "text",
    "id": "cta_border_width",
    "label": "Border width (outine) ",
    "default": ""
   },
   {
    "type": "text",
    "id": "cta_border_radius",
    "label": "Button radius",
    "default": ""
   },
   
   {
    "type": "select",
    "id": "cta_hide_icon",
    "label": "Hide Icon",
    "default": "Use Default",
    "options":[
        { 
        "value":"Use Default",
        "label":"Use Default"
        },
        { 
            "value":"true",
            "label":"Hide"
        },
        { 
            "value":"false",
            "label":"Show"
        }
    ]
  },
   {
    "type": "select",
    "id": "icon_position",
    "label": "Icon Position",
    "default": "default",
    "options":[
        { 
            "value":"default",
            "label":"Default"
        },
        { 
            "value":"left",
            "label":"Left"
        },
        { 
            "value":"right",
            "label":"Right"
        }
    ]
  },
   {
    "type": "text",
    "id": "cta_icon",
    "label": "Icon ID",
    "default": ""
   } ,
      {
        "type": "textarea",
        "id": "style",
        "label": "Style",
        "default": "/* -- Button Text --*/\n\n\n/* -- Desktop Style --*/\nmargin-left:5px; \n\n\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\n\n "
      }

    ]
  },
    { 
    "type": "text_n_icon",
    "name": "Text and Icon",
    "groups": [
      {
    "name": "Text Animation",
    "elements": [
      {
        "type": "select",
        "id": "animation_effect",
        "label": "Animation Effect",
        "default": "none",
        "options": [
          { "label": "None", "value": "none" },
          { "label": "Count Up", "value": "Count Up" },
          { "label": "Effect 1", "value": "1" },
          { "label": "Effect 2", "value": "2" },
          { "label": "Effect 3", "value": "3" },
          { "label": "Effect 6", "value": "6" },
          { "label": "Effect 7", "value": "7" },
          { "label": "Effect 9", "value": "9" },
          { "label": "Effect 10", "value": "10" },
          { "label": "Effect 11", "value": "11" },
          { "label": "Effect 12", "value": "12" },
          { "label": "Effect 13", "value": "13" },
          { "label": "Effect 14", "value": "14" },
          { "label": "Effect 16", "value": "16" }
        ]
      },
      {
        "type": "checkbox",
        "id": "text_animation_loop",
        "label": "Run in loop",
        "default": "false"
      }
    ]
},
      {
    "name": "Link",
    "elements": [
      {
        "type": "select",
        "id": "link_type",
        "label": "Link type",
        "default": "no link",
        "options":[
            { 
                "value":"no link",
                "label":"No link"
            },
            { 
                "value":"Open in same window",
                "label":"Open in same window"
            },
            { 
                "value":"Open in a new window",
                "label":"Open in a new window"
            }
        ]
    },
      {
        "type": "action",
        "id": "action",
        "label": "Action",
        "anchor": true,
        "two_step": true,
        "default": "#"
      }
    ]
  },
  

  {
    "name": "Background",
    "elements": [
      {
        "type": "checkbox",
        "id": "use_image",
        "label": "Use Image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background_image",
        "default": ""
      }
  ] 
}
    ],
    "elements": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "select",
        "id": "text_source",
        "label": "Text Source",
        "default": "Post Title",
        "options":[
            { 
                "value":"text",
                "label":"Custom Text"
            },
            { 
                "value":"post_title",
                "label":"Post Title"
            },
            { 
                "value":"post_body",
                "label":"Post Body"
            },
            { 
                "value":"video_duration",
                "label":"Video Duration"
            },
            { 
              "value":"post_category",
              "label":"Post Category"
          },
          { 
            "value":"custom_fields",
            "label":"Custom Fields"
        },
        { 
          "value":"custom_tags",
          "label":"Tags"
        }
        ]
      }, 
      {
        "type": "text",
        "label": "Custom Field Title",
        "id": "custom_field_title",
        "default": ""
      }, 
      {
        "type": "text",
        "label": "Truncate Content (Characters Limit)",
        "id": "truncate_content",
        "default": "500"
      },
      {
        "type": "rich_text",
        "label": "Text",
        "id": "text",
        "default": "Lorem ipsum dolor sit amet"
      },
      {
        "type": "checkbox",
        "id": "link_to_post",
        "label": "Link To Post",
        "default":  false
      },
      {
        "type": "text",
        "label": "Video Duration Postfix",
        "id": "video_duration_postfix",
        "default": " Min"
      }, 
      

  {
    "type": "grid",
    "id": "width",
    "label": "Width",
    "default": "12"
  },
  {
    "type": "grid",
    "id": "mobile_width",
    "label": "Mobile Width",
    "default": "12"
  },
  {
    "type": "checkbox",
    "id": "auto_width",
    "label": "Auto width",
    "default": "false"
  }, 
      {  
          "type": "text",
          "label": "Icon ID / SVG code / URL",
          "id": "icon",
          "default": "far fa-sign-in-alt"
      },      
      {
          "type": "select",
          "id": "icon_position",
          "label": "Icon Position",
          "default": "Left",
          "options":[
              { 
                  "value":"left",
                  "label":"Left"
              },
              { 
                  "value":"right",
                  "label":"Right"
              }
          ]
      },   
      {
        "type": "textarea",
        "id": "style",
        "label": "Style",
        "default": "/* -- Icon Style --*/\n\n/* -- Desktop Style --*/\ncolor:#444;\nfont-size:18px; \n\n\n/* -- Mobile Style --*/\n\n   "
      }
    ]
  },
    { 
    "type": "course_progress",
    "name": "Progress",
    "groups": [   
        {
    "name": "Link",
    "elements": [
      {
        "type": "select",
        "id": "link_type",
        "label": "Link type",
        "default": "no link",
        "options":[
            { 
                "value":"no link",
                "label":"No link"
            },
            { 
                "value":"Open in same window",
                "label":"Open in same window"
            },
            { 
                "value":"Open in a new window",
                "label":"Open in a new window"
            }
        ]
    },
      {
        "type": "action",
        "id": "action",
        "label": "Action",
        "anchor": true,
        "two_step": true,
        "default": "#"
      }
    ]
  },
  

  {
    "name": "Background",
    "elements": [
      {
        "type": "checkbox",
        "id": "use_image",
        "label": "Use Image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background_image",
        "default": ""
      }
  ] 
}
    ], 
    
    "elements": [
        

  {
    "type": "grid",
    "id": "width",
    "label": "Width",
    "default": "12"
  },
  {
    "type": "grid",
    "id": "mobile_width",
    "label": "Mobile Width",
    "default": "12"
  },
  {
    "type": "checkbox",
    "id": "auto_width",
    "label": "Auto width",
    "default": "false"
  },
        {
            "type": "select",
            "id": "progress_type",
            "label": "Progress Type",
            "default": "None",
            "options": [
                {"value": "None", "label": "None"},
                {"value": "Bar", "label": "Bar"}
            ]
        },
        {
            "type": "checkbox",
            "id": "show_percent",
            "label": "Show Percent",
            "default": true
        },
        {
            "type": "text",
            "id": "percent_text",
            "label": "Percent Text",
            "default": "Completed"
        },
        {
            "type": "checkbox",
            "id": "show_completed_count",
            "label": "Show Completed Posts Count",
            "default": true
        },
        {
            "type": "text",
            "id": "posts_count_text",
            "label": "Posts Count Text",
            "default": "Posts Completed"
        },
        



        {
            "type": "textarea",
            "id": "style",
            "label": "Style",
            "default": "/* -- Desktop Style --*/\n"
        }
    ]
  }
  ], 

    "presets": [

        {"name":"Resume Omni","type":"p_resume","category":"Content","settings":{"width":"12","mobile_width":"12","section_style":"<class>product-banner</class>\n/* -- Custom Selectors --*/\n#this-section .sizer{\nmin-height:70vh;\nalign-items:center;\ndisplay:flex;\n}\n/* -- Custom-Selectors Mobile --*/\n\n","bg_type":"image","bg_repeat":false,"bg_mobie_hide":false,"background_fixed":false,"hide_on_desktop":false,"equal_height":false,"full_width":false,"full_height":false,"hide_on_mobile":false,"section_name":"hero resume discovery 4","clmn_borders":true,"number_of_clmns":"1","clmn_width_1":"9","clmn_mobile_width_1":"12","position_clmn_1":"0","clmn_style_1":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center;\npadding:50px 80px 50px 30px;\nbackground: rgba(var(--accent-color-1-rgb), 0.7);\nborder-left:6px solid var(--accent-color-2);\nborder-radius: 10px;\nmargin:0 auto 0;\n/* -- Mobile Style --*/\npadding: 20px 10px;\nborder: none;","clmn_width_2":"12","clmn_mobile_width_2":"12","position_clmn_2":"0","clmn_style_2":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_3":"12","clmn_mobile_width_3":"12","position_clmn_3":"0","clmn_style_3":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_4":"12","clmn_mobile_width_4":"12","position_clmn_4":"0","clmn_style_4":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_5":"12","clmn_mobile_width_5":"12","position_clmn_5":"0","clmn_style_5":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_6":"12","clmn_mobile_width_6":"12","position_clmn_6":"0","clmn_style_6":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","background_color_preset":"--bg-color-1","bg_image":"themes/2149807824/settings_images/y94vtQ4eQly8pVW0mFsI_dj-hosts-1.jpg","padding_desktop":{"top":"0","left":"0","right":"0","bottom":"0"},"padding_mobile":{"top":"10","left":"10","right":"10","bottom":"10"},"reveal_units":"seconds","kjbid":"79765955"},"blocks":[{"hidden":"false","type":"clmn","settings":{"clmn_width":"9","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center;\npadding:50px 80px 50px 30px;\nbackground: rgba(var(--accent-color-1-rgb), 0.7);\nborder-left:6px solid var(--accent-color-2);\nborder-radius: 10px;\nmargin:0 auto 0;\n/* -- Mobile Style --*/\npadding: 20px 10px;\nborder: none;"}},{"hidden":"false","type":"text","settings":{"text_source":"post_category","truncate_content":"500","text":"<p>Lorem ipsum dolor sit amet</p>","video_duration_postfix":" Min","width":"6","mobile_width":"12","auto_width":true,"style":"/* -- Desktop Style --*/\ncolor: #000;\nfont-size:11px; \nbackground: var(--accent-color-2);\npadding: 3px 8px;\nborder-radius: 5px;\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_title","truncate_content":"500","text":"","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/\ncolor:#FFFFFF;\nfont-size:40px;\n/* -- Mobile Style --*/\nfont-size: 28px;","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_body","truncate_content":"250","text":"","video_duration_postfix":"min watched","width":"12","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/\nfont-size: 16px;\ncolor: #fff;\n\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"image","settings":{"image_source":"Post Image","image":"https://kajabi-themes.s3.amazonaws.com/assets/images/placeholder.png","width":"6","mobile_width":"12","auto_width":true,"image_radius":"0","icon_id":"fas fa-play","icon_size":"20","mask_image":false,"style":"/* -- Desktop Style --*/ \nwidth: 80px;\nheight: 80px;\nbackground: #fff;\ndisplay: flex;\nalign-items: center;\njustify-content: center;\nborder-radius: 100%;\nposition: absolute;\nright: -40px;\noverflow: visible;\ncolor: var(--accent-color-1);\n/* -- Mobile Style --*/\nwidth: 50px;\nheight: 50px;\nright: -25px\n/* -- Mobile Style --*/\ndisplay: none;\n\n /* -- Custom Selectors --*/\n#this-block:after{\ncontent: '';\nposition: absolute;\nleft: -10px;\ntop: -10px;\nwidth: calc(100% + 20px);\nheight: calc(100% + 20px);\nborder: 1px solid #fff;\nborder-radius: 100%;\n}","link_type":"no link","action":"#","link_to_post":false,"clmn":"1","image_alt":"","use_icon":true,"icon_color":"","mask_preset_shape":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}}]},
        {"name":"Resume Evolve","type":"p_resume","category":"Content","settings":{"width":"12","mobile_width":"12","section_style":"<class>product-banner</class>\n/* -- Desktop Style --*/\n/* -- Mobile Style --*/\nmargin: 0;\n/* -- Custom Selectors --*/\n[Background Gradient]\n#this-section .section:before{\nbackground: linear-gradient(to right, var(--bg-color-1) 50%, transparent);\nwidth: 100%;\nheight: 100%;\ncontent: '';\nposition: absolute;\ntop: 0;\nleft: 0;\n}\n/* -- Custom-Selectors Mobile --*/\n#this-section .section,#jarallax-container-3 div{\n              background-position: 70% !important;\n            }","bg_type":"image","bg_repeat":false,"bg_mobie_hide":false,"background_fixed":true,"hide_on_desktop":false,"equal_height":false,"full_width":false,"full_height":false,"hide_on_mobile":false,"section_name":"hero resume curiosity 4","clmn_borders":true,"number_of_clmns":"1","clmn_width_1":"9","clmn_mobile_width_1":"12","position_clmn_1":"0","clmn_style_1":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items:flex-start;\npadding:40px 40px 40px;\nflex-direction: column;\nposition: relative;\nmin-height: 350px;\n\n/* -- Mobile Style --*/\npadding: 20px 10px;","clmn_width_2":"12","clmn_mobile_width_2":"12","position_clmn_2":"0","clmn_style_2":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_3":"12","clmn_mobile_width_3":"12","position_clmn_3":"0","clmn_style_3":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_4":"12","clmn_mobile_width_4":"12","position_clmn_4":"0","clmn_style_4":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_5":"12","clmn_mobile_width_5":"12","position_clmn_5":"0","clmn_style_5":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_6":"12","clmn_mobile_width_6":"12","position_clmn_6":"0","clmn_style_6":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","background_color_preset":"--bg-color-1","bg_image":"themes/2149170005/settings_images/iz6C3SqgSuua85wSL1LS_happy-cheerful-woman-smiling-looking-video-camera-video-blog-home-kitchen.jpg","padding_desktop":{"top":"50","left":"40","right":"40","bottom":"50"},"reveal_units":"seconds","kjbid":"36974533"},"blocks":[{"hidden":"false","type":"clmn","settings":{"clmn_width":"9","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items:flex-start;\npadding:40px 40px 40px;\nflex-direction: column;\nposition: relative;\nmin-height: 350px;\n\n/* -- Mobile Style --*/\npadding: 20px 10px;"}},{"hidden":"false","type":"text","settings":{"text_source":"post_title","truncate_content":"500","text":"","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":true,"style":"/* -- Desktop Style --*/\ncolor:var(--text-color-1);\nfont-size: 40px;\nfont-weight: 600;\nmargin-bottom: 15px;\n/* -- Mobile Style --*/\nfont-size: 32px;\n/* -- Custom Selectors --*/\n#this-block *{\nline-height: 1.3;\n}","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_body","truncate_content":"250","text":"","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/\ncolor: var(--text-color-1);\nmargin-bottom: 20px;\n\n\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"button","settings":{"width":"6","mobile_width":"12","auto_width":true,"button_preset":"p1_","inherit_defaults":true,"button":"Resume Lesson","link_to_resume_post":true,"start":"Start Course","resume":"Resume Course","again":"Start Course Over","cta_action":"#","in_new_tab":false,"cta_outline":false,"cta_hide_icon":false,"icon_position":"left","style":"/* -- Button Text --*/\nfont-weight: 500;\ntext-transform: uppercase;\n\n/* -- Desktop Style --*/\n\n\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\nbackground: var(--accent-color-1);\n /* -- Custom Selectors --*/","link_type":"no link","action":"#","clmn":"1","cta_bg_color":"","cta_color":"#ffffff","cta_min_width":"","cta_min_height":"","cta_font_size":"","cta_min_width_mobile":"","cta_min_height_mobile":"","cta_font_size_mobile":"","cta_border_width":"","cta_border_radius":"","cta_icon":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}}]},
        {"name":"Resume Evoloe V2","type":"p_resume","category":"Content","settings":{"width":"12","mobile_width":"12","section_style":"<class>product-banner</class>\n/* -- Desktop Style --*/\n\n/* -- Mobile Style --*/\nmargin: 0 0 10px;\n/* -- Custom Selectors --*/\n[Background Overlay]\n#this-section .section:before{\ncontent: '';\nposition: absolute;\nleft: 0;\ntop: 0;\nwidth: 100%;\nheight: 100%;\nbackground: rgb(0 0 0 / 20%)\n}","bg_type":"image","bg_repeat":false,"bg_mobie_hide":false,"background_fixed":false,"hide_on_desktop":false,"equal_height":false,"full_width":false,"full_height":false,"hide_on_mobile":false,"section_name":"hero resume evolution","clmn_borders":true,"number_of_clmns":"1","clmn_width_1":"9","clmn_mobile_width_1":"12","position_clmn_1":"0","clmn_style_1":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items: flex-start;\npadding:40px 40px 40px;\nflex-direction: column;\nposition: relative;\nmin-height: 350px;\n/* -- Mobile Style --*/\npadding: 20px 10px;","clmn_width_2":"12","clmn_mobile_width_2":"12","position_clmn_2":"0","clmn_style_2":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_3":"12","clmn_mobile_width_3":"12","position_clmn_3":"0","clmn_style_3":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_4":"12","clmn_mobile_width_4":"12","position_clmn_4":"0","clmn_style_4":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_5":"12","clmn_mobile_width_5":"12","position_clmn_5":"0","clmn_style_5":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_6":"12","clmn_mobile_width_6":"12","position_clmn_6":"0","clmn_style_6":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","background_color_preset":"--bg-color-1","bg_image":"themes/2149314219/settings_images/MPpmgCkRSGO08zDRW0dA_sporty-pretty-woman-have-balance-doing-yoga-exercisse-white-gym.jpg","padding_desktop":{"top":"50","left":"40","right":"40","bottom":"50"},"reveal_units":"seconds","kjbid":"15054504"},"blocks":[{"hidden":"false","type":"clmn","settings":{"clmn_width":"9","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items: flex-start;\npadding:40px 40px 40px;\nflex-direction: column;\nposition: relative;\nmin-height: 350px;\n/* -- Mobile Style --*/\npadding: 20px 10px;"}},{"hidden":"false","type":"text","settings":{"text_source":"post_category","truncate_content":"500","text":"<p>Category</p>","video_duration_postfix":" Min","width":"6","mobile_width":"12","auto_width":true,"style":"/* -- Desktop Style --*/\ncolor:#fff;\nfont-size:12px; \nbackground: rgb(255 255 255 / 10%);\nborder: 1px solid #fff;\ntext-transform: uppercase;\npadding: 4px 8px;\nwidth: auto;\nmargin-bottom: 10px;\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_title","truncate_content":"500","text":"","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":true,"style":"/* -- Desktop Style --*/\ncolor:#fff;\nfont-size: 52px;\nfont-weight: 500;\n/* -- Mobile Style --*/\nfont-size: 32px;\n/* -- Custom Selectors --*/\n#this-block *{\nline-height: 1;\n}","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_body","truncate_content":"250","text":"<p>Lorem ipsum dolor sit amet</p>","video_duration_postfix":" Min","width":"6","mobile_width":"12","auto_width":true,"style":"/* -- Desktop Style --*/\ncolor:#fff;\nfont-size:14px; \nmargin-bottom: 20px;\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"button","settings":{"width":"6","mobile_width":"12","auto_width":true,"button_preset":"p1_","inherit_defaults":true,"button":"Resume Lesson","link_to_resume_post":true,"start":"Start Course","resume":"Resume Course","again":"Start Course Over","cta_action":"#","in_new_tab":false,"cta_outline":false,"cta_hide_icon":false,"icon_position":"left","style":"/* -- Button Text --*/\nfont-weight: 500;\ntext-transform: uppercase;\n\n/* -- Desktop Style --*/\n\n\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\nborder: 1px solid #fff;\n /* -- Custom Selectors --*/","link_type":"no link","action":"#","clmn":"1","cta_bg_color":"rgba(255, 255, 255, 0.2)","cta_color":"#ffffff","cta_min_width":"","cta_min_height":"","cta_font_size":"","cta_min_width_mobile":"","cta_min_height_mobile":"","cta_font_size_mobile":"","cta_border_width":"","cta_border_radius":"","cta_icon":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}}]},
        {"name":"Resume Curiosity V2","type":"p_resume","category":"Content","settings":{"section_name":"hero resume curiosity 3","width":"12","mobile_width":"12","clmn_borders":"true","number_of_clmns":"1","clmn_with_auto":"false","clmn_width_1":"9","clmn_mobile_width_1":"12","position_clmn_1":"0","clmn_style_1":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items:flex-start;\npadding:40px 40px 40px;\nbackground: rgb(255 255 255 / 40%);\nborder:2px solid #fff;\nflex-direction: column;\nposition: relative;\nmin-height: 350px;\n\n/* -- Mobile Style --*/\npadding: 20px 10px;","clmn_width_2":"12","clmn_mobile_width_2":"12","position_clmn_2":"0","clmn_style_2":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_3":"12","clmn_mobile_width_3":"12","position_clmn_3":"0","clmn_style_3":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_4":"12","clmn_mobile_width_4":"12","position_clmn_4":"0","clmn_style_4":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_5":"12","clmn_mobile_width_5":"12","position_clmn_5":"0","clmn_style_5":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_6":"12","clmn_mobile_width_6":"12","position_clmn_6":"0","clmn_style_6":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","background_color_preset":"No Background Color","bg_type":"image","bg_image":"themes/2149032537/settings_images/g4Hwh1SUSPGamj6kZ50O_thisisengineering-raeng-TXxiFuQLBKQ-unsplash.jpg","padding_desktop":{"top":"50","left":"40","right":"40","bottom":"50"},"padding_mobile":{"top":"20","left":"","right":"","bottom":"19"},"reveal_units":"seconds","section_style":"<class>product-banner</class>\n/* -- Desktop Style --*/\n\n/* -- Mobile Style --*/\nmargin: 0;\n\n/* -- Custom-Selectors Mobile--*/\n#this-section .section, #jarallax-container-3 div{\n            background-position: 70% !important;\n          }","kjbid":"84596562"},"blocks":[{"hidden":"false","type":"clmn","settings":{"clmn_width":"9","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items:flex-start;\npadding:40px 40px 40px;\nbackground: rgb(255 255 255 / 40%);\nborder:2px solid #fff;\nflex-direction: column;\nposition: relative;\nmin-height: 350px;\n\n/* -- Mobile Style --*/\npadding: 20px 10px;"}},{"hidden":"false","type":"text","settings":{"text_source":"post_category","truncate_content":"500","text":"<p>Category</p>","link_to_post":"false","video_duration_postfix":" Min","clmn":"1","width":"6","mobile_width":"12","auto_width":"true","style":"/* -- Desktop Style --*/\ncolor:#fff;\nfont-size:12px; \nbackground: var(--accent-color-2);\npadding: 2px 5px;\nwidth: auto;\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":"false","link_type":"no link","action":"#","use_image":"false","bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_title","truncate_content":"500","text":"<p>sdfsdfsdfsdfdsf</p>","link_to_post":"false","video_duration_postfix":" Min","clmn":"1","width":"12","mobile_width":"12","auto_width":"true","style":"/* -- Desktop Style --*/\ncolor:#25252D;\nfont-size: 40px;\nfont-family: playfair display;\nfont-weight: 500;\nmargin-bottom: 15px;\n\n/* -- Custom-Selectors Mobile --*/\n#this-block *{\nfont-size: 28px;\n}","animation_effect":"none","text_animation_loop":"false","link_type":"no link","action":"#","use_image":"false","bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_body","truncate_content":"100","text":"<p>Lorem ipsum dolor sit amet</p>","link_to_post":"false","video_duration_postfix":" Min","clmn":"1","width":"6","mobile_width":"12","auto_width":"true","style":"/* -- Desktop Style --*/\ncolor:#25252D;\nfont-size:14px; \nmargin-bottom: 20px;\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":"false","link_type":"no link","action":"#","use_image":"false","bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"button","settings":{"clmn":"1","width":"6","mobile_width":"12","auto_width":"true","button_preset":"p1_","inherit_defaults":"true","button":"Resume Lesson","link_to_resume_post":"true","cta_action":"#","in_new_tab":"false","cta_outline":"false","cta_bg_color":"","cta_color":"#ffffff","cta_min_width":"","cta_min_height":"","cta_font_size":"","cta_min_width_mobile":"","cta_min_height_mobile":"","cta_font_size_mobile":"","cta_border_width":"","cta_border_radius":"","cta_hide_icon":"true","icon_position":"left","cta_icon":"","style":"/* -- Button Text --*/\nfont-weight: 500;\ntext-transform: uppercase;\n\n/* -- Desktop Style --*/\n\n\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\nbackground: var(--accent-color-1);\ncolor: #fff;\n /* -- Custom Selectors --*/","link_type":"no link","action":"#","use_image":"false","bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"video_duration","truncate_content":"500","text":"<p>Lorem ipsum dolor sit amet</p>","link_to_post":"false","video_duration_postfix":"min","clmn":"1","width":"6","mobile_width":"12","auto_width":"true","style":"/* -- Desktop Style --*/\ncolor:#25252D;\nfont-size:12px; \npadding: 2px 5px;\nbackground: #fff;\nposition: absolute;\nright: 5px;\ntop: 5px;\n\n\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":"false","link_type":"no link","action":"#","use_image":"false","bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"image","settings":{"image_source":"Custom Image","image":"https://kajabi-themes.s3.amazonaws.com/assets/images/placeholder.png","link_to_post":"false","clmn":"1","width":"6","mobile_width":"12","auto_width":"true","image_alt":"","image_radius":"0","use_icon":"true","icon_id":"fas fa-play","icon_color":"","icon_size":"10","mask_image":"false","mask_preset_shape":"","style":"/* -- Desktop Style --*/ \nwidth: 60px;\nheight: 60px;\ndisplay: flex; \nalign-items: center;\njustify-content: center;\nbackground: var(--accent-color-1);\ncolor: #fff;\nborder-radius: 50px;\nposition: absolute;\nright: -30px;\ntop: calc(50% - 30px);\n\n/* -- Mobile Style --*/\ndisplay: none;\n/* -- Child Element Style --*/\n\n ","link_type":"no link","action":"#","use_image":"false","bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}}]},
        {"name":"Resume Discover","type":"p_resume","category":"Content","settings":{"width":"12","mobile_width":"12","section_style":"<class>product-banner radius</class>\n/* -- Desktop Style --*/\n\n/* -- Mobile Style --*/\n/* -- Custom Selectors --*/\n[Section Style]\n#this-section .section{\n    border-radius: 10px;\n    overflow: hidden;\n}\n#this-section .sizer{\nmin-height: 60vh;\nalign-items: center;\ndisplay: flex;\n}","bg_type":"image","bg_repeat":false,"bg_mobie_hide":false,"background_fixed":false,"hide_on_desktop":false,"equal_height":false,"full_width":false,"full_height":false,"hide_on_mobile":false,"section_name":"hero resume discovery 1","clmn_borders":true,"number_of_clmns":"1","clmn_width_1":"12","clmn_mobile_width_1":"12","position_clmn_1":"0","clmn_style_1":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items: center;\n/* -- Mobile Style --*/\n\n","clmn_width_2":"12","clmn_mobile_width_2":"12","position_clmn_2":"0","clmn_style_2":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_3":"12","clmn_mobile_width_3":"12","position_clmn_3":"0","clmn_style_3":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_4":"12","clmn_mobile_width_4":"12","position_clmn_4":"0","clmn_style_4":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_5":"12","clmn_mobile_width_5":"12","position_clmn_5":"0","clmn_style_5":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_6":"12","clmn_mobile_width_6":"12","position_clmn_6":"0","clmn_style_6":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","background_color_preset":"No Background Color","bg_image":"themes/2149084432/settings_images/56bjOpVmTSGMN6EJrTN3_amy-hirschi-K0c8ko3e6AA-unsplash.jpg","padding_desktop":{"top":"0","left":"0","right":"0","bottom":"0"},"reveal_units":"seconds","kjbid":"95436815"},"blocks":[{"hidden":"false","type":"clmn","settings":{"clmn_width":"12","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items: center;\n/* -- Mobile Style --*/\n\n"}},{"hidden":"false","type":"image","settings":{"image_source":"Post Image","image":"https://kajabi-themes.s3.amazonaws.com/assets/images/placeholder.png","width":"6","mobile_width":"12","auto_width":false,"image_radius":"0","icon_id":"fas fa-play","icon_size":"14","mask_image":false,"style":"/* -- Desktop Style --*/ \nheight: 60px;\nwidth: 60px;\ndisplay: flex;\nalign-items: center;\njustify-content: center;\nbackground: #fff;\nborder-radius: 50px;\n\n/* -- Mobile Style --*/\nheight: 60px;\nwidth: 60px;\n/* -- Child Element Style --*/\n\n ","link_type":"no link","action":"#","link_to_post":false,"clmn":"1","image_alt":"","use_icon":true,"icon_color":"#000000","mask_preset_shape":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}}]},
        {"name":"Resume Fade","type":"p_resume","category":"Content","settings":{"width":"12","mobile_width":"12","section_style":"/* -- Desktop Style --*/\n/* -- Mobile Style --*/\n/* -- Custom Selectors --*/\n[Section Style]\n#this-section .sizer{\nmin-height: 70vh;\nalign-items: center;\ndisplay: flex;\n}\n[Background Overlay]\n#this-section .section:before{\ncontent: '';\nposition: absolute;\ntop: 0;\nleft: 0;\nwidth: 100%;\nheight: 100%;\nbackground: linear-gradient(to bottom, rgb(0 0 0 /15%), var(--bg-color-1))\n}","bg_type":"image","bg_repeat":false,"bg_mobie_hide":false,"background_fixed":false,"hide_on_desktop":false,"equal_height":false,"full_width":false,"full_height":false,"hide_on_mobile":false,"section_name":"hero resume discovery 3","clmn_borders":true,"number_of_clmns":"1","clmn_width_1":"12","clmn_mobile_width_1":"12","position_clmn_1":"0","clmn_style_1":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: flex-start; \npadding: 10px 40px;\nflex-direction: column;\n/* -- Mobile Style --*/\npadding: 10px 10px;\n","clmn_width_2":"12","clmn_mobile_width_2":"12","position_clmn_2":"0","clmn_style_2":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_3":"12","clmn_mobile_width_3":"12","position_clmn_3":"0","clmn_style_3":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_4":"12","clmn_mobile_width_4":"12","position_clmn_4":"0","clmn_style_4":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_5":"12","clmn_mobile_width_5":"12","position_clmn_5":"0","clmn_style_5":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_6":"12","clmn_mobile_width_6":"12","position_clmn_6":"0","clmn_style_6":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","background_color_preset":"No Background Color","bg_image":"themes/2149787373/settings_images/gPSF3UD0SHmJDkBszYrj_pexels-julia-m-cameron-4145153.jpg","padding_desktop":{"top":"0","left":"0","right":"0","bottom":"0"},"reveal_units":"seconds","kjbid":"85796497"},"blocks":[{"hidden":"false","type":"clmn","settings":{"clmn_width":"12","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: flex-start; \npadding: 10px 40px;\nflex-direction: column;\n/* -- Mobile Style --*/\npadding: 10px 10px;\n"}},{"hidden":"false","type":"text","settings":{"text_source":"post_category","truncate_content":"500","text":"<p>Lorem ipsum dolor sit amet</p>","video_duration_postfix":"","width":"12","mobile_width":"12","auto_width":true,"style":"/* -- Desktop Style --*/\nwidth: auto;\nbackground: #FBDD4A;\npadding: 3px 10px;\nborder-radius: 25px;\nfont-weight: 600;\ncolor: #000;\n\n\n\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_title","truncate_content":"500","text":"<p><span>New post 31</span></p>\n<!-- p -->\n<p>&nbsp;</p>","video_duration_postfix":" Min","width":"7","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/\nfont-size: 54px;\nmargin-bottom: 10px;\ncolor: var(--text-color-1);\n/* -- Mobile Style --*/\nfont-size: 32px;\n/* -- Custom Selectors --*/\n#this-block *{\nline-height: 1.2;\n}","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_body","truncate_content":"250","text":"<p>The standard Lorem Ipsum passage, used since the 1500s \"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>\n<!-- p -->\n<p>&nbsp;</p>","video_duration_postfix":" Min","width":"6","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/\ncolor: var(--text-color-1);\nmargin-bottom: 15px;\n\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"button","settings":{"width":"6","mobile_width":"12","auto_width":true,"button_preset":"p1_","inherit_defaults":true,"button":"Resume","link_to_resume_post":true,"start":"Start Course","resume":"Resume Course","again":"Start Course Over","cta_action":"#","in_new_tab":false,"cta_outline":false,"cta_hide_icon":true,"icon_position":"left","style":"<image-hover>undefined</image-hover>\n/* -- Child Element Style --*/\nbackground: var(--accent-color-1);\n/* -- Button Text --*/\ntext-transform: uppercase;\nfont-weight: 500;\n/* -- Custom Selectors --*/\n#this-section .a_button.p1_btn{\nmin-height:auto  !important;\npadding:10px 30px 10px 30px;\n}\n","link_type":"no link","action":"#","clmn":"1","cta_bg_color":"","cta_color":"#ffffff","cta_min_width":"","cta_min_height":"","cta_font_size":"","cta_min_width_mobile":"","cta_min_height_mobile":"","cta_font_size_mobile":"","cta_border_width":"0","cta_border_radius":"","cta_icon":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}}]},
        {"name":"Resume Classic","type":"p_resume","category":"Content","settings":{"width":"10","mobile_width":"12","section_style":"<class>product-banner</class>\n/* -- Desktop Style --*/\n/* -- Mobile Style --*/\n/* -- Custom Selectors --*/\n#this-section .section:before{\nbackground: rgb(0 0 0 / 50%);\ncontent: '';\nposition: absolute;\ntop: 0;\nleft: 0;\nwidth: 100%;\nheight: 100%;\n}","bg_type":"image","bg_repeat":false,"bg_mobie_hide":false,"background_fixed":false,"hide_on_desktop":false,"equal_height":false,"full_width":false,"full_height":false,"hide_on_mobile":false,"section_name":"hero resume discovery 2","clmn_borders":true,"number_of_clmns":"2","clmn_width_1":"7","clmn_mobile_width_1":"12","position_clmn_1":"0","clmn_style_1":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center;\npadding: 0 20px;\n/* -- Mobile Style --*/\nmargin-bottom: 20px;\npadding: 0;\n\n","clmn_width_2":"5","clmn_mobile_width_2":"12","position_clmn_2":"0","clmn_style_2":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_3":"12","clmn_mobile_width_3":"12","position_clmn_3":"0","clmn_style_3":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_4":"12","clmn_mobile_width_4":"12","position_clmn_4":"0","clmn_style_4":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_5":"12","clmn_mobile_width_5":"12","position_clmn_5":"0","clmn_style_5":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_6":"12","clmn_mobile_width_6":"12","position_clmn_6":"0","clmn_style_6":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","background_color_preset":"--bg-color-1","bg_image":"themes/2149330280/settings_images/tu7a1LUqTx3mFNZp4Tvx_freelance-young-asian-businesswoman-casual-wear-using-laptop-working-living-room-home_2x.jpg","padding_desktop":{"top":"50","left":"40","right":"40","bottom":"50"},"reveal_units":"seconds","kjbid":"71824082"},"blocks":[{"hidden":"false","type":"clmn","settings":{"clmn_width":"7","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center;\npadding: 0 20px;\n/* -- Mobile Style --*/\nmargin-bottom: 20px;\npadding: 0;\n\n"}},{"hidden":"false","type":"text","settings":{"text_source":"text","truncate_content":"500","text":"<p>Continue where you left off</p>","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/\ncolor:#fff;\nfont-size:24px;\nmargin-bottom: 10px;\n","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"course_progress","settings":{"width":"12","mobile_width":"12","auto_width":false,"progress_type":"None","show_percent":false,"percent_text":"Completed","show_completed_count":true,"posts_count_text":"Posts Completed","style":"/* -- Desktop Style --*/\ncolor: #fff;","link_type":"no link","action":"#","clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"custom_code","settings":{"width":"12","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/ \nmargin-bottom: 15px;\n\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\n\n /* -- Custom Selectors --*/\n.progress-white:before{\nbackground: rgb(255 255 255 / 20%);\n}\n.progress-white:after{\nbackground: #fff;\n}","link_type":"no link","action":"#","clmn":"1","custom_code":"<div class=\"progress-bar progress-white\">\n    <span class=\"progress-bar-fill\" ></span>\n</div>\n\n","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_title","truncate_content":"500","text":"","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/\ncolor:#fff;\nfont-size:14px; \ntext-transform: uppercase;\npadding-left: 5px;\nborder-left: 2px solid;\nmargin-bottom: 10px;\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_body","truncate_content":"100","text":"","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/\ncolor:#fff;\nfont-size:16px; \nmargin-bottom: 20px;\n\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"button","settings":{"width":"6","mobile_width":"12","auto_width":true,"button_preset":"p1_","inherit_defaults":true,"button":"RESUME MY LESSON","link_to_resume_post":true,"start":"Start Course","resume":"Resume Course","again":"Start Course Over","cta_action":"#","in_new_tab":false,"cta_outline":false,"cta_hide_icon":false,"icon_position":"left","style":"/* -- Button Text --*/\n\n\n/* -- Desktop Style --*/\n\n\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\n\n ","link_type":"no link","action":"#","clmn":"1","cta_bg_color":"#ffffff","cta_color":"#125ffd","cta_min_width":"","cta_min_height":"","cta_font_size":"","cta_min_width_mobile":"","cta_min_height_mobile":"","cta_font_size_mobile":"","cta_border_width":"0","cta_border_radius":"","cta_icon":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"clmn","settings":{"clmn_width":"5","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n"}},{"hidden":"false","type":"image","settings":{"image_source":"Post Image","image":"https://kajabi-themes.s3.amazonaws.com/assets/images/placeholder.png","width":"12","mobile_width":"12","auto_width":false,"image_radius":"0","icon_id":"fas fa-chalkboard-teacher","icon_size":"30","mask_image":false,"style":"/* -- Desktop Style --*/ \nborder-radius: 5px;\nheight: 100%;\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\n\n /* -- Custom Selectors --*/\n#this-block img{\nheight: 100%;\nobject-fit: cover;\n}","link_type":"no link","action":"#","link_to_post":true,"clmn":"2","image_alt":"","use_icon":false,"icon_color":"","mask_preset_shape":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"image","settings":{"image_source":"Post Image","image":"https://kajabi-themes.s3.amazonaws.com/assets/images/placeholder.png","width":"6","mobile_width":"12","auto_width":true,"image_radius":"0","icon_id":"fas fa-play","icon_size":"14","mask_image":false,"style":"/* -- Desktop Style --*/ \nheight: 60px;\nwidth: 60px;\ndisplay: flex;\ncolor: #fff;\nalign-items: center;\njustify-content: center;\nbackground: rgb(0 85 229 / 88%);\nborder-radius: 50px;\nposition: absolute;\nleft: calc(50% - 30px);\n/* -- Mobile Style --*/\nheight: 60px;\nwidth: 60px;\n/* -- Child Element Style --*/\n\n ","link_type":"no link","action":"#","link_to_post":false,"clmn":"2","image_alt":"","use_icon":true,"icon_color":"","mask_preset_shape":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"video_duration","truncate_content":"500","text":"<p>Lorem ipsum dolor sit amet</p>","video_duration_postfix":" Min","width":"6","mobile_width":"12","auto_width":true,"style":"/* -- Desktop Style --*/\ncolor:#fff;\nposition: absolute;\ntop: 5px;\nright: 5px;\npadding: 3px 10px;\nbackground: rgb(0 0 0 / 90%);\nborder-radius: 25px;\nfont-size: 12px;\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"2","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}}]},
        {"name":"Resume Omni","type":"p_resume","category":"Content","settings":{"width":"12","mobile_width":"12","section_style":"<class>product-banner</class>\n/* -- Desktop Style --*/\n/* -- Mobile Style --*/\n\n/* -- Custom Selectors --*/\n[Background Overlay]\n#this-section .section:before{\nbackground: rgb(0 0 0 / 40%);\nwidth: 100%;\nheight: 100%;\ncontent: '';\nposition: absolute;\ntop: 0;\nleft: 0;\n}\n","bg_type":"image","bg_repeat":false,"bg_mobie_hide":false,"background_fixed":false,"hide_on_desktop":false,"equal_height":false,"full_width":false,"full_height":false,"hide_on_mobile":false,"section_name":"hero resume curiosity 2","clmn_borders":true,"number_of_clmns":"1","clmn_width_1":"9","clmn_mobile_width_1":"12","position_clmn_1":"0","clmn_style_1":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items: flex-start;\npadding:40px 40px 40px;\nflex-direction: column;\nposition: relative;\nmin-height: 350px;\n\n/* -- Mobile Style --*/\npadding: 10px 10px;\nmin-height: auto;","clmn_width_2":"12","clmn_mobile_width_2":"12","position_clmn_2":"0","clmn_style_2":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_3":"12","clmn_mobile_width_3":"12","position_clmn_3":"0","clmn_style_3":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_4":"12","clmn_mobile_width_4":"12","position_clmn_4":"0","clmn_style_4":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_5":"12","clmn_mobile_width_5":"12","position_clmn_5":"0","clmn_style_5":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_6":"12","clmn_mobile_width_6":"12","position_clmn_6":"0","clmn_style_6":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","background_color_preset":"--bg-color-1","bg_image":"themes/2149223265/settings_images/anl2dPPTRKqXKT6CvRAV_woman-business-coach-conducts-marketing-training-seminar_2x.jpg","padding_desktop":{"top":"50","left":"40","right":"40","bottom":"50"},"padding_mobile":{"top":"10","left":"","right":"","bottom":"10"},"reveal_units":"seconds","kjbid":"16096135"},"blocks":[{"hidden":"false","type":"clmn","settings":{"clmn_width":"9","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: center;\nalign-items: flex-start;\npadding:40px 40px 40px;\nflex-direction: column;\nposition: relative;\nmin-height: 350px;\n\n/* -- Mobile Style --*/\npadding: 10px 10px;\nmin-height: auto;"}},{"hidden":"false","type":"text","settings":{"text_source":"post_title","truncate_content":"500","text":"<p><span>New post 31</span></p>\n<!-- p -->\n<p>&nbsp;</p>","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":true,"style":"/* -- Desktop Style --*/\ncolor:#fff;\nfont-size: 40px;\nfont-weight: 600;\nmargin-bottom: 15px;\n/* -- Mobile Style --*/\nfont-size: 26px;\n/* -- Custom Selectors --*/\n#this-block *{\nline-height: 1.3;\n}","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"text","settings":{"text_source":"post_body","truncate_content":"250","text":"","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":false,"style":"/* -- Desktop Style --*/\ncolor:#fff;\nmargin-bottom: 20px;\n\n\n/* -- Mobile Style --*/\n\n  ","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"button","settings":{"width":"6","mobile_width":"12","auto_width":true,"button_preset":"p1_","inherit_defaults":true,"button":"Resume Lesson","link_to_resume_post":true,"start":"Start Course","resume":"Resume Course","again":"Start Course Over","cta_action":"#","in_new_tab":false,"cta_outline":false,"cta_hide_icon":false,"icon_position":"left","style":"/* -- Button Text --*/\nfont-weight: 500;\ntext-transform: uppercase;\n\n/* -- Desktop Style --*/\n\n\n/* -- Mobile Style --*/\n\n/* -- Child Element Style --*/\nbackground: var(--accent-color-1);\n /* -- Custom Selectors --*/","link_type":"no link","action":"#","clmn":"1","cta_bg_color":"","cta_color":"#ffffff","cta_min_width":"","cta_min_height":"","cta_font_size":"","cta_min_width_mobile":"","cta_min_height_mobile":"","cta_font_size_mobile":"","cta_border_width":"0","cta_border_radius":"","cta_icon":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}}]},
        {"name":"Resume Curiosity","type":"p_resume","category":"Content","settings":{"width":"12","mobile_width":"12","section_style":"<class>product-banner radius</class>\n/* -- Desktop Style --*/\noverflow: hidden;\nborder-radius: 15px;\n/* -- Mobile Style --*/\nmargin:0 10px 0 10px;\n","bg_type":"image","bg_repeat":false,"bg_mobie_hide":false,"background_fixed":true,"hide_on_desktop":false,"equal_height":false,"full_width":false,"full_height":false,"hide_on_mobile":false,"section_name":"hero resume curiosity 1","clmn_borders":true,"number_of_clmns":"1","clmn_width_1":"12","clmn_mobile_width_1":"12","position_clmn_1":"0","clmn_style_1":"/* -- Desktop Style --*/\njustify-content: space-between;\nalign-items: center; \npadding: 10px 40px;\nbackground: rgb(0 0 0 / 50%);\n/* -- Mobile Style --*/\npadding: 200px 20px 20px;\njustify-content: center;\n","clmn_width_2":"12","clmn_mobile_width_2":"12","position_clmn_2":"0","clmn_style_2":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_3":"12","clmn_mobile_width_3":"12","position_clmn_3":"0","clmn_style_3":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_4":"12","clmn_mobile_width_4":"12","position_clmn_4":"0","clmn_style_4":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_5":"12","clmn_mobile_width_5":"12","position_clmn_5":"0","clmn_style_5":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","clmn_width_6":"12","clmn_mobile_width_6":"12","position_clmn_6":"0","clmn_style_6":"/* -- Desktop Style --*/\njustify-content: flex-start;\nalign-items: center; \n\n\n/* -- Mobile Style --*/\n\n","background_color_preset":"--bg-color-1","bg_image":"themes/2149839339/settings_images/p3UrAqVXQK5xsrsdpG7O_pexels-george-milton-6954162.jpg","padding_desktop":{"top":"350","left":"0","right":"0","bottom":"0"},"padding_mobile":{"top":"0","left":"0","right":"0","bottom":"0"},"reveal_units":"seconds","kjbid":"24955858"},"blocks":[{"hidden":"false","type":"clmn","settings":{"clmn_width":"12","clmn_mobile_width":"12","position_clmn":"0","clmn_style":"/* -- Desktop Style --*/\njustify-content: space-between;\nalign-items: center; \npadding: 10px 40px;\nbackground: rgb(0 0 0 / 50%);\n/* -- Mobile Style --*/\npadding: 200px 20px 20px;\njustify-content: center;\n"}},{"hidden":"false","type":"text","settings":{"text_source":"post_title","truncate_content":"500","text":"<p>Contrary of the popular belief, lorem ipsum sit dolor</p>","video_duration_postfix":" Min","width":"12","mobile_width":"12","auto_width":true,"style":"/* -- Desktop Style --*/\ncolor:#FFFFFF;\nfont-size: 24px;\n\n/* -- Mobile Style --*/\nmargin-bottom: 10px;","animation_effect":"none","text_animation_loop":false,"link_type":"no link","action":"#","link_to_post":false,"clmn":"1","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}},{"hidden":"false","type":"button","settings":{"width":"6","mobile_width":"12","auto_width":true,"button_preset":"p1_","inherit_defaults":true,"button":"RESUME LESSON","link_to_resume_post":true,"start":"Start Course","resume":"Resume Course","again":"Start Course Over","cta_action":"#","in_new_tab":false,"cta_outline":false,"cta_hide_icon":false,"icon_position":"left","style":"<image-hover>undefined</image-hover>\n/* -- Button Text --*/\nfont-weight: 500;\nfont-size: 14px;\n/* -- Custom Selectors --*/\n#this-section .a_button.p1_btn{\nmin-height:auto  !important;\nmin-width:auto  !important;\npadding:8px 20px 8px 20px;\nbackground:var(--accent-color-1);\n}\n#this-section .a_button i{\nfont-size:12px  !important;\n}\n","link_type":"no link","action":"#","clmn":"1","cta_bg_color":"","cta_color":"#ffffff","cta_min_width":"","cta_min_height":"","cta_font_size":"","cta_min_width_mobile":"","cta_min_height_mobile":"","cta_font_size_mobile":"","cta_border_width":"0","cta_border_radius":"","cta_icon":"","use_image":false,"bg_image":"","reveal_event":"","reveal_offset":"","reveal_units":"seconds"}}]}
       
  ]
}


{% endschema %}