{% if alert_messages.success %} 
  <div class="alert alert--success alert--flush">
    <div class="container">
      {% render 'icon', icon: 'check', size: 20, class: 'icon-lg' %}{{ alert_messages.success }} {% render 'icon', icon: 'close', class: 'close' %}
    </div>
  </div>
{% endif %}
{% if alert_messages.error %}
  <div class="alert alert--error alert--flush">
    <div class="container">
      {% render 'icon', icon: 'warning', size: 20 %}{{ alert_messages.error }} {% render 'icon', icon: 'close', class: 'close' %}
    </div>
  </div> 
{% endif %}
