{% assign i_str = '' %} 
{% if i != 0 %}
    {% assign i_str = '_' | append:i %}
{% endif %}    

{% assign i_id = 'icon_id' | append:i_str %}
{% assign i_size = 'icon_size' | append:i_str %}
{% assign i_color = 'icon_color' | append:i_str %}
{% assign i_use_image = 'icon_use_image' | append:i_str  %}
{% assign i_image = 'icon_image' | append:i_str  %}

{% assign id = level.settings[i_id]  %}
{% assign size = level.settings[i_size]  %}

{% if level.settings[i_color] != blank %}
    {% assign stroke = level.settings[i_color]  %}
{% else %}
    {% assign stroke =settings.color_mark %}
{% endif %}
 


{% assign n = id %}

{% if level.settings[i_use_image] %}
    <img class="mc_icon" src="{% include "image_patch", img: level.settings[i_image] %}" style=" width: {{size}}px;"/>
{% else %} 
    {% if id contains "anim_icon" %}
            {% include "icons_animated" %}
    {% elsif id contains "fa-" %}
        <span class="{{id}}" style=" color: {{stroke}}; font-size: {{size}}px;"></span>
    {% endif %}
{% endif %}