<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="19px" viewBox="0 0 15 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
    <title>lock icon</title>
    <desc>Created with Sketch.</desc>
    <g id="lock-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path class="color-stroke" d="M4,7 L4,4.42857143 C4,2.53502371 5.56700338,1 7.5,1 C9.43299662,1 11,2.53502371 11,4.42857143 L11,7" id="Path" stroke="#748493" fill-rule="nonzero"></path>
        <rect id="Rectangle" class="color-stroke" stroke="#748493" fill-rule="nonzero" x="1.5" y="7.5" width="12" height="11" rx="1"></rect>
        <circle id="Oval" class="color-fill" fill="#748493" fill-rule="nonzero" cx="7.5" cy="13.5" r="1.5"></circle>
    </g>
</svg>
