{% assign current_cat = canonical_url | split:"/" |  last %} 

{% for icategory in current_product.outline.categories  %}  

  {% assign cat_num = icategory.url | split:"/" |  last %}
  {% assign active_class = "" %}
  {% if cat_num == current_cat %}  
    {% assign active_class = "active" %}
  {% endif %}

  <a class="{{active_class}} p_category" href="{{icategory.url}}">{{icategory.title}}</a>
  
{% endfor %}