<div class="post-custom-fields">
  <h2>{{ block.settings.heading }}</h2>
</div>


<script>
  jQuery(document).ready(function() {
    var customFieldObj = {}
    if (jQuery(".post-body .feature-d-body").length != 0) {
      var data = JSON.parse(jQuery(".post-body .feature-d-body")
        .html()
        .replace('\x3C!--custom_field', '')
        .replace('-->', '')
        .trim())
    
      for (keys of data.custom_field) {
        for (const property in keys) {
          customFieldObj[property.toLowerCase()] = keys[property]
        }
      }
  }
  var prefix = `{{block.settings.custom_prefix}}`
  prefix = prefix.replace(/<p>/g, "")
    prefix = prefix.replace(/<\/p>/g, "")
  for (var item of prefix.split("\n")) {
    if (item.length > 0) {
      item = item.trim()
      var title = item.split(",")[0]
      var icon = item.split(",")[1]
      var blockId = `#block-{{block.id}}`
        var st = `
        <div class="custom_field_wrapper">
          <div class="custom_field_title"><i class="${icon ? icon : 'far fa-check-circle'}"></i>${title}</div>
          <div class="custom_field_value">${customFieldObj[title.toLowerCase()] ? customFieldObj[title.toLowerCase()] : "--"}</div>
        </div>
        `
      jQuery(`${blockId} .post-custom-fields`).append(st)
  }
}
  })
</script>
