
{%- assign faq_class = "collapsed"  -%}
{%- if block.settings.expended == true or block.settings.expended == "true" -%}
 {%- assign faq_class = "expanded"  -%}
{%- endif -%}
<div class="faq_wrap">
    <div class="question {{faq_class}}">{{block.settings.faq}}</div>
    <div class="answer {{faq_class}}">{{block.settings.answer}}</div>
</div>



