<div class="outline_post_type">
    {% if post.video %}
        {% assign duration = post.video.duration_in_seconds | duration | replace:"minutes","" | replace:"minute",""  | replace:"Less than",""  %}
        {{duration}} min
    {% elsif post.quiz %}
        Quiz
    {% elsif post.assessment %}
        Assessment
    {% else %}
        Text
    {% endif %}
</div>