{% for post in category.posts%}
  {% include "p_category_post" %}
{% endfor %}
{% if category.children? %}
  {% for category in category.subcategories %}
    {% unless category.pending_drip? %}
      <a href="{{ category.url }}" class="category-post">
        <h3 class="category-post-title">{{ category.title }}</h3>
      </a>
      {% for post in category.posts%}
        {% include "p_category_post" %}
      {% endfor %}
    {% endunless %}
  {% endfor %}
{% endif %}
