{% assign is_completed = post.completed? %}
{% assign percent_complete = post.progress_percent %}

<a href="{{ post.url }}" class="category-post">
  <div class="media align-items-center">
    <div>
      {% if percent_complete > 0 or is_completed %}
        {% include "p_icon_progress", is_completed: is_completed, percent_complete: percent_complete %}
      {% else %}
        {% if post.video %}
          {% include "p_icon_video" %}
        {% elsif post.assessment %}
          {% include "p_icon_assessment" %}
        {% else %}
          {% include "p_icon_text" %}
        {% endif %}
      {% endif %}
    </div>
    <div>
      {% if post.poster_image_url %}
        <img src="{{ post.poster_image_url }}" class="category-post-img">
      {% endif %}
    </div>
    <div class="media-body">
      <h3 class="category-post-title">{{ post.title }}</h3>
      <p class="category-post-body">{{ post.body | strip_html | truncate: 200 }}</p>
    </div>
  </div>
</a>
