
{% assign search_text = section.settings.search_text %}

{% assign KJB_show_search = 'show_search' %}
{% assign KJB_search_text = 'search_text' %}


  <form action="{{ current_product.search_url }}" method="get" role="search">
    <div class="input-group search{% if page_type == "post" %} post-page{% endif %}">
      <div class="input-group-prepend">
        <div class="input-group-text search-icon">{% render 'icon', icon: 'search', size: 16 %}</div>
      </div>
      <input class="form-control search-input" type="search" name="q" placeholder="{{ search_text }}">
    </div>
  </form>

