<div class="main-content col flex-fill">
  {% include "p_responsive_toggle" %}
  {% include "p_search" page_type: "post" %}
  {% include "p_post_media" %}
  {% section "p_post_actions" %}
  {% include "p_post_body" %}
  {% include "p_post_comments" %}
</div>
{% section "p_post_completion" %}