<div class="post-body">
  <div class="main-content-container">
    {% include "post_audio" %}
    <h1 class="post-body-title">{{ post.title }}</h1>
    {% if post.show_as_paywalled? %}
      {{ post.body | lorem_replace_html }}
    {% else %}
      {{ post.body }}
    {% endif %}
    <hr />
  </div>
</div>
