{% assign show_search = settings.show_search %}
{% assign search_text = settings.search_text %}

{% assign KJB_show_search = 'show_search' %}
{% assign KJB_search_text = 'search_text' %}

{% if show_search %}
  <form action="{{ current_product.search_url }}" method="get" role="search">
    <div class="input-group search{% if page_type == "post" %} post-page{% endif %}" kjb-settings-id="{{ KJB_show_search }}">
      <div class="input-group-prepend">
        <div class="input-group-text search-icon"><i class="fa fa-search"></i></div>
      </div>
      <input class="form-control search-input" type="search" name="q" placeholder="{{ search_text }}" kjb-settings-id="{{ KJB_search_text }}">
    </div>
  </form>
{% endif %}
