{% assign b-ID = block.id %}


<div class="m_blog_search_heading">Search</div>
<div class="panel panel--{{ b-ID }} search" kjb-settings-id="{{ 'search_text' | settings_id: section: section, block: block }}">
  <div class="panel__body">
    <form action="{{ current_site.blog_search_url }}" method="get" role="search">
      <div class="input-group">
        <span class="input-group-addon search__icon"><i class="fa fa-search"></i></span>
        <input class="form-control search__input" type="search" name="q" placeholder="{{ block.settings.search_text }}">
      </div>
    </form>
  </div>
</div> 
