<div class="tbar_buttons">
    <div class="tbar_buttons_text">Unsaved Changes</div>
    <div class="tbar_buttons_dot"></div>
    <div class="discard_button"><span>Discard Changes</span></div>
    <div class="apply_button"><span>Apply Changes</span></div>
</div>


<div class="r2_topbar topbar-items" style="height: 0;">

    <style class="dynamic_styles"></style>
    <style class="topbar_styles"></style>
    <style class="progress_styles"></style>

    <div class="r3_bar_toggle"><i class="fas fa-caret-up"></i></div>

    <div class="r3_topbar">
        <div class="r3_tab_btns">
            <div tab="demos" class="active"><i class="fas fa-inventory"></i><span>Demos</span></div>
            <div tab="layout"><i class="fas fa-columns"></i><span>Dashboard Layout</span></div>
            <div tab="post_layout"><i class="fas fa-columns"></i><span>Post Layout</span></div>
            <div tab="post_sections"><i class="fas fa-columns"></i><span>Sections Presets</span></div>
            <div tab="features"><i class="fas fa-columns"></i><span>Sections Custom</span></div>
            <div tab="sections"><i class="fas fa-chimney"></i><span>Sections</span></div>
            <div tab="colors"><i class="fas fa-palette"></i><span>Colors</span></div>
            <div tab="outline"><i class="fas fa-tasks"></i><span>Outline</span></div>
            <div class="sidebars-tab">
                <i class="fas fa-tasks"></i><span>sidebars</span>
                <div class="sidebar-dropdown">
                    <div tab="mainbar"><i class="fas fa-border-left"></i><span>Main Bar</span></div>
                    <div tab="secondbar"><i class="fas fa-border-right"></i><span>Second Bar</span></div>
                    <!-- <div tab="postbar"><i class="fas fa-border-top"></i><span>Post Bar</span></div> -->
                </div>
            </div>
            <!--div tab="outline"><i class="fas fa-tasks"></i><span>topbars</span></div -->
            <div class="more_hover">
                <i class="fas fa-angle-right"></i><span>More</span>
                <div class="more-wrapper">
                    <div tab="demos" class="active"><i class="fas fa-inventory"></i><span>Demos</span></div>
                    <div tab="colors"><i class="fas fa-palette"></i><span>Colors</span></div>
                    <div tab="outline"><i class="fas fa-tasks"></i><span>Outline</span></div>
                    <div tab="background"><i class="fas fa-fill"></i><span>Background</span></div>
                    <div tab="headers"><i class="fas fa-window-maximize"></i><span>Header</span></div>
                    <div tab="progress"><i class="far fa-chart-pie-alt"></i><span>Progress</span></div>
                    <div tab="badges"><i class="far fa-trophy"></i><span>Badges</span></div>
                </div>
            </div>
            <!--div class="apply_button disab"><span>Apply</span></div -->
        </div>

        <div class="r3_notific"><span class="logo_r"></span>:<span class="notific_text"></span></div>
        <div class="r3_tabs">

            <div class="r3_demos_tab" tab="demos" style="display: block;">

                <div class="swiper-container demos-swiper-container" data-aos="fade-up-center">
                    <div class="swiper-wrapper topbar_demos_bar_middle">


                    </div>
                    <div class="swiper-but swiper-button-prev"></div>
                    <div class="swiper-but swiper-button-next"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>

            <div class="r3_layout_tab" tab="layout">

                <div class="r3_layout_tab_wrapper">

                    <div class="headers_top_padding top_padding_dashboard">
                        <label>Top Padding (px)</label>
                        <input type="number" placeholder="0" value=''>
                    </div>

                    <div class="swiper-container layout-swiper-container" data-aos="fade-up-center">
                        <div class="swiper-wrapper r3_layout_wrapper">
                             

                            <div class="swiper-slide" demo="MSt-MPl-SSt-SFr-SPr-OTd1-OSf-PBh-PSs" tp="0" cw="100%">
                                <img src="http://s3.robust-themes.com/products/images/layout_1.jpg" />
                            </div>
                            <div class="swiper-slide" demo="MSf-MPl-SSt-SFf-SPl-OTe2-OSf-PBh-PSs" tp="80"  cw="1366"><img
                                    src="http://s3.robust-themes.com/products/images/layout_2.jpg" /></div>
                            <div class="swiper-slide" demo="MSt-MPl-SSf-SFr-SPl-OTe2-OSf-PBh-PSs" tp="30" cw="1366"><img
                                    src="http://s3.robust-themes.com/products/images/layout_31.jpg" /></div>
                            <div class="swiper-slide" demo="post_page"><img
                                    src="http://s3.robust-themes.com/products/images/customize_post_layout.jpg" /></div>
                            <div class="swiper-slide" demo="MSt-MPl-SSf-SFr-SPl-OTe2-OSf-PBh-PSs" tp="0" cw="100%"><img
                                    src="http://s3.robust-themes.com/products/images/layout_3.jpg" /></div>
                            <div class="swiper-slide" demo="MSf-MPr-SSf-SFr-SPl-OTe2-OSf-PBh-PSs" tp="30"  cw="1366"><img
                                    src="http://s3.robust-themes.com/products/images/layout_16.jpg" /></div>
                            <div class="swiper-slide curiosity_hero_margin" demo="MSt-MPr-SSf-SFr-SPl-OTe2-OSf-PBh-PSs" tp="30" cw="1366"><img
                                    src="http://s3.robust-themes.com/products/images/layout_32.jpg" /></div>
                            <div class="swiper-slide" demo="MSf-MPl-SSt-SFf-SPr-OTe2-OSf-PBh-PSs" tp="70"><img
                                    src="http://s3.robust-themes.com/products/images/layout_5.jpg" /></div>
                            <div class="swiper-slide" demo="MSf-MPl-SSt-SFr-SPl-OTe2-OSf-PBh-PSs" tp="30"><img
                                    src="http://s3.robust-themes.com/products/images/layout_4.jpg" /></div>
                            <div class="swiper-slide" demo="MSf-MPl-SSt-SFr-SPr-OTe2-OSf-PBh-PSs" tp="30"><img
                                    src="http://s3.robust-themes.com/products/images/layout_6.jpg" /></div>
                            <div class="swiper-slide" demo="MSf-MPr-SSf-SFr-SPl-OTe2-OSf-PBh-PSs" tp="30" cw="1366"><img
                                    src="http://s3.robust-themes.com/products/images/layout_17.jpg" /></div>
                            <div class="swiper-slide" demo="MSt-MPr-SSt-SFr-SPl-OTe2-OSf-PBh-PSs" tp="0"><img
                                    src="http://s3.robust-themes.com/products/images/layout_8.jpg" /></div>


                        </div> 
                        <div class="swiper-but swiper-button-prev"></div>
                        <div class="swiper-but swiper-button-next"></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>

                </div>
            </div>

            <div class="r3_layout_tab" tab="sections">
                <div class="swiper-container sections-swiper-container" data-aos="fade-up-center">
                    <div class="swiper-wrapper r3_sections_wrapper">
                      <div class="swiper-slide" data-value="vb1-lwid1-cl1-da2"><img
                                src="http://s3.robust-themes.com/products/images/sections_2.jpg"></div>
                        <div class="swiper-slide" data-value="hrd3-l1d-l2d-l3d-bd3-l4d-l5d"><img
                                src="http://s3.robust-themes.com/products/images/sections_7.jpg"></div>
                        <div class="swiper-slide" data-value="hrd2-id3-cl6-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_3.jpg"></div>
                        <div class="swiper-slide" data-value="hrd4-vid-cl3"><img
                                src="http://s3.robust-themes.com/products/images/sections_6.jpg"></div>
                        <div class="swiper-slide" data-value="hrc4-cl4-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_5.jpg"></div>
                        <div class="swiper-slide" data-value="osd-d1f-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_11.jpg"></div>
                        <div class="swiper-slide" data-value="lwid1-id2-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_10.jpg"></div>
                        <div class="swiper-slide" data-value="hrc2-lsf-cl2"><img
                                src="http://s3.robust-themes.com/products/images/sections_9.jpg"></div>
                        <div class="swiper-slide" data-value="hre-id2-lwid1-da2-d1f"><img
                                src="http://s3.robust-themes.com/products/images/sections_8.jpg"></div>
                        <div class="swiper-slide" data-value="mnd-upd"><img
                                src="http://s3.robust-themes.com/products/images/sections_13.jpg"></div>
                        <div class="swiper-slide" data-value="bch-d1f-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_4.jpg"></div>
                        <div class="swiper-slide" data-value="mnd-cl3-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_1.jpg"></div>
                        <div class="swiper-slide" data-value="vrh-hmf-lc2-upd"><img
                                src="http://s3.robust-themes.com/products/images/sections_14.jpg"></div>
                        <div class="swiper-slide" data-value="lyf-cl6-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_20.jpg"></div>
                        <div class="swiper-slide" data-value="psh-cl6-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_21.jpg"></div>
                        <div class="swiper-slide" data-value="oxh-d1f-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_22.jpg"></div>
                        <div class="swiper-slide" data-value="tad-d1f-a3"><img
                                src="http://s3.robust-themes.com/products/images/sections_23.jpg"></div>
                        <div class="swiper-slide" data-value="prh-ld2-lwid1-cl1-da2"><img
                                src="http://s3.robust-themes.com/products/images/sections_24.jpg"></div>
                        <div class="swiper-slide" data-value="hrr-lc3-da2-lwid1"><img
                                src="http://s3.robust-themes.com/products/images/sections_25.jpg"></div>
                        <div class="swiper-slide" data-value="lwid1-cl1-da2"><img
                                src="http://s3.robust-themes.com/products/images/sections_26.jpg"></div>
                        <div class="swiper-slide" data-value="hrc3-lc3-cs4-da2"><img
                                src="http://s3.robust-themes.com/products/images/sections_27.jpg"></div>
                        <div class="swiper-slide" data-value="hrc1-ctc1-cl1"><img
                                src="http://s3.robust-themes.com/products/images/sections_28.jpg"></div>
                    </div>
                    <div class="swiper-but swiper-button-prev"></div>
                    <div class="swiper-but swiper-button-next"></div>
                </div>
            </div>

            <div class="r3_colors_tab" tab="colors">
                <div class="r3_colors_wrapper">
                    <div class="duoptions_ui cb_color_mode">
                        <div class="u_left">Light</div>
                        <div class="u_right">Dark</div>
                    </div>
                    <div class="tp_current_colors_wrap p_theme_settings_wrap">
                        <div class="tp_colors tp_accent">
                            <li data-color="--accent-color-1"><span>Accent 1</span>
                                <div class="pickr not-inuse" style="background-color: rgb(238, 76, 125);">

                                    <button type="button" class="pcr-button" role="button"
                                        aria-label="toggle color picker dialog"
                                        style="--pcr-color:rgba(238, 76, 125, 1);"></button>


                                </div>
                            </li>
                            <li data-color="--accent-color-2"><span>Accent 2</span>
                                <div class="pickr not-inuse" style="background-color: rgb(238, 76, 125);">

                                    <button type="button" class="pcr-button" role="button"
                                        aria-label="toggle color picker dialog"
                                        style="--pcr-color:rgba(238, 76, 125, 1);"></button>


                                </div>
                            </li>
                        </div>
                        <div class="tp_colors tp_accent cb_bgc">
                            <li data-color="--bg-color-1"><span>Back 1</span>
                                <div class="pickr not-inuse" style="background-color: rgb(20, 19, 19);">

                                    <button type="button" class="pcr-button" role="button"
                                        aria-label="toggle color picker dialog"
                                        style="--pcr-color:rgba(20, 19, 19, 1);"></button>


                                </div>
                            </li>
                            <li data-color="--bg-color-2"><span>Back 2</span>
                                <div class="pickr not-inuse" style="background-color: rgb(31, 31, 31);">

                                    <button type="button" class="pcr-button" role="button"
                                        aria-label="toggle color picker dialog"
                                        style="--pcr-color:rgba(31, 31, 31, 1);"></button>


                                </div>
                            </li>
                        </div>
                    </div>
                    <div class="swiper-container colors-swiper-container">
                        <div class="tp_color_palletes_wrap swiper-wrapper">
                        </div>
                        <div class="swiper-but swiper-button-prev"></div>
                        <div class="swiper-but swiper-button-next"></div>
                    </div>
                </div>

            </div>
            <div class="r3_outline_tab" tab="outline">
                <div class="r3-outline">
                    <div class="sOutline_wrap r3_outline_wrap">
                        <div class="r3-col imgs-outline">
                            <div class="sOutline_item sOutline_item_thumbs" data-outline="outline_discovery_6">
                                <div class="sOutline_item_icon">
                                    <i class="fas fa-image"></i>
                                    <img src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/site/117899/products/iuCCN6JCSieekvHMgycT_pexels-katerina-holmes-5905709_1.jpg"
                                        alt="" class="outline-image">
                                </div>
                                <div class="sOutline_item_text" style="margin-left: 30px;">
                                    Small Thumbnails
                                </div>
                            </div>
                        </div>
                        <div class="r3-col imgs-outline">
                            <div class="sOutline_item sOutline_item_thumbs" data-outline="outline_discovery_7">
                                <div class="sOutline_item_icon">
                                    <i class="fas fa-expand-wide"></i>
                                    <img src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/site/117899/products/iuCCN6JCSieekvHMgycT_pexels-katerina-holmes-5905709_1.jpg"
                                        alt="" class="outline-image">
                                </div>
                                <div class="sOutline_item_text" style="margin-left: 30px;">
                                    Large Thumbnails
                                </div>
                            </div>
                        </div>
                        <div class="r3-col">
                            <div class="sOutline_item" data-outline="Hide">
                                <div class="sOutline_item_icon">
                                    <i class="fas fa-ban"></i>
                                </div>
                                <div class="sOutline_item_text">
                                    No Outline
                                </div>
                            </div>
                            <div class="sOutline_item sOutline_progress_bg" data-outline="outline_discovery_1">
                                <div class="sOutline_item_icon">
                                    <svg id="Arrow_-_Right_2" data-name="Arrow - Right 2"
                                        xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12">
                                        <path id="Arrow_-_Right_2-2" data-name="Arrow - Right 2"
                                            d="M9.631,7.131c-.057.058-.27.306-.469.51a21.69,21.69,0,0,1-5.8,4.024A4.617,4.617,0,0,1,2.188,12a1.933,1.933,0,0,1-.9-.218,1.874,1.874,0,0,1-.795-.9A9.84,9.84,0,0,1,.242,9.814,23.979,23.979,0,0,1,0,6.008,27.724,27.724,0,0,1,.213,2.319,8.495,8.495,0,0,1,.554.992,1.785,1.785,0,0,1,2.132,0h.057A4.879,4.879,0,0,1,3.509.409,21.69,21.69,0,0,1,9.177,4.375a5.66,5.66,0,0,1,.482.554A1.783,1.783,0,0,1,10,5.993a1.875,1.875,0,0,1-.369,1.138">
                                        </path>
                                    </svg>
                                </div>
                                <div class="sOutline_item_text">
                                    Progress - Background
                                </div>
                            </div>
                        </div>
                        <div class="r3-col">
                            <div class="sOutline_item sOutline_progress_bar" data-outline="outline_discovery_2">
                                <div class="sOutline_item_icon">
                                    <svg id="Arrow_-_Right_2" data-name="Arrow - Right 2"
                                        xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12">
                                        <path id="Arrow_-_Right_2-2" data-name="Arrow - Right 2"
                                            d="M9.631,7.131c-.057.058-.27.306-.469.51a21.69,21.69,0,0,1-5.8,4.024A4.617,4.617,0,0,1,2.188,12a1.933,1.933,0,0,1-.9-.218,1.874,1.874,0,0,1-.795-.9A9.84,9.84,0,0,1,.242,9.814,23.979,23.979,0,0,1,0,6.008,27.724,27.724,0,0,1,.213,2.319,8.495,8.495,0,0,1,.554.992,1.785,1.785,0,0,1,2.132,0h.057A4.879,4.879,0,0,1,3.509.409,21.69,21.69,0,0,1,9.177,4.375a5.66,5.66,0,0,1,.482.554A1.783,1.783,0,0,1,10,5.993a1.875,1.875,0,0,1-.369,1.138">
                                        </path>
                                    </svg>
                                </div>
                                <div class="sOutline_item_text">
                                    Progress - Bar
                                </div>
                            </div>
                            <div class="sOutline_item sOutline_item_circle" data-outline="outline_discovery_3">
                                <div class="sOutline_item_icon">
                                    <svg id="progress-circle-svg" width="25" height="25" viewport="0 0 50 50"
                                        version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <circle r="10" cx="12.5" cy="12.5" fill="transparent"
                                            stroke-dasharray="62.8319px" stroke-dashoffset="0"></circle>
                                        <circle id="bar" r="10" cx="12.5" cy="12.5" fill="transparent"
                                            stroke-dasharray="62.8319px" stroke-dashoffset="0"
                                            style="stroke-dashoffset: 43.96px;"></circle>
                                    </svg>
                                </div>
                                <div class="sOutline_item_text">
                                    Progress - Circle
                                </div>
                            </div>
                        </div>
                        <div class="r3-col">
                            <div class="sOutline_item sOutline_item_dahsed" data-outline="outline_curiosity_1">
                                <div class="sOutline_item_icon">
                                    <div class="outline-bullets"><span></span></div>
                                </div>
                                <div class="sOutline_item_text">
                                    Todo - Checkpoints
                                </div>
                            </div>
                            <div class="sOutline_item" data-outline="outline_discovery_4">
                                <div class="sOutline_item_icon">
                                    <svg class="complete-check" width="20px" version="1.1" id="Layer_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve">
                                        <g id="XMLID_14_">
                                            <path id="XMLID_38_"
                                                d="M1,29V1h28v28H1z M10.8,23.3l0.6,0.4h1.9l0.6-0.7L25.3,9.3l1.3-1.5L22,4l-1.3,1.5l-9,10.8l-3.4-2.9 l-1.5-1.3l-1.3,1.6L3,16.6l1.5,1.3l6,5.2L10.8,23.3L10.8,23.3L10.8,23.3z"
                                                fill="#fff"></path>
                                            <path id="XMLID_33_"
                                                d="M28,2v5.6l-1.6-1.3l-0.8-0.6l-1.5-1.2l-0.8-0.6l-1.5-1.3l-1.3,1.5L20,4.9l-8.4,10L9,12.7L8.2,12l-1.5-1.3 l-1.3,1.5L4.7,13l-1.2,1.4l-0.6,0.8l-0.8,1V2H28 M28,7.6V28H2V17.1L3.1,18l0.8,0.7l5.1,4.4l0.9,0.8l0.1,0l0.1,0l0,0l0.1,0.1l0,0 l0,0l0,0l0.3,0.2l0.5,0.4h0.6h1.2h0.9l0.6-0.7l0.3-0.4L26,10l0.6-0.8L28,7.6 M30,0H0v30h30V0L30,0z M11.8,17.8l9.7-11.6l0.6-0.8 L22.9,6l1.5,1.2l0.8,0.6l-0.6,0.8L13.1,22.4l-0.3,0.3h-1.2l-0.3-0.2l-0.1-0.1l0,0l0,0l-0.9-0.8l-5.1-4.4l-0.7-0.6L5,15.8l1.2-1.4 l0.7-0.8l0.8,0.7L11.8,17.8L11.8,17.8z"
                                                fill="#fff"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="sOutline_item_text">
                                    Todo - Box
                                </div>
                            </div>
                        </div>
                        <div class="r3-col">
                            <div class="sOutline_item" data-outline="outline_discovery_4_icon_minimal">
                                <div class="sOutline_item_icon">
                                    <svg class="complete-check" version="1.1" width="20px"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                                        <circle id="XMLID_1_" cx="250" cy="250" r="244.3" style="fill:#62b020;">
                                        </circle>
                                        <path id="path54" style="fill:#fff;"
                                            d="M216,348.4l-90.9-90.8l28.7-28.7l61.3,61.2l130.2-138.5l29.6,27.8L216,348.4"
                                            fill="#777"></path>
                                    </svg>
                                </div>
                                <div class="sOutline_item_text">
                                    Todo - Icon
                                </div>
                            </div>
                            <div class="sOutline_item sOutline_item_lrg" data-outline="outline_discovery_4_icon_doodle">
                                <div class="sOutline_item_icon">
                                    <svg class="complete-check" version="1.1" width="30px"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                                        <path style="fill:#777;"
                                            d="M492.6,223c-4.3-31.2-16.3-46.7-33.4-71.7c-7.3-10.6-26.7-4.4-22.1,9.3c60.8,178.5-138.1,313.5-293.4,234.8c-93.2-47.3-100-157.3-50.9-241.3c21.5-36.6,53.2-66.1,92-83.6c45.6-20.5,86.9-12.7,134-16.9c5.1-0.5,9.5-7.3,4.7-11.3c-80.4-67-216.9,1.6-268.6,73C-16,213.5-15.5,360.6,87.8,435c91.8,66,229.9,67.9,320.2-1.8c42.5-32.8,71.2-81.3,81.8-133.9C494.9,274.2,496.1,248.4,492.6,223">
                                        </path>
                                        <path style="fill:#62b020;"
                                            d="M462.9,25.3c-59.6,21-104.4,70.4-145.1,117.5c-30.3,35.1-56.2,72.1-77.4,112.4c-24-26.7-47.4-54.7-74.9-76.4c-17.3-13.6-49.3-1.9-40.8,23.8c17.5,52.9,61.9,97.8,101.2,135.7c19.9,19.2,47.6,8.3,56.9-15c22.2-55.9,57-105.1,97.2-149.4c36.2-39.9,79.5-73.1,103.2-122.2C489.4,38.8,478.9,19.7,462.9,25.3">
                                        </path>
                                    </svg>
                                </div>
                                <div class="sOutline_item_text">
                                    Todo - Circle Doodle
                                </div>
                            </div>
                        </div>
                        <div class="r3-col">
                            <div class="sOutline_item sOutline_item_lrg"
                                data-outline="outline_discovery_4_icon_boxed_radius">
                                <div class="sOutline_item_icon">
                                    <svg class="complete-check" xmlns="http://www.w3.org/2000/svg" width="30px"
                                        viewBox="1630 1040 370 350">
                                        <g transform="matrix(1.33,0,0,-1.33,0,2000)">
                                            <g transform="scale(0.1)">
                                                <path
                                                    d="m 12781.3,5942.92 c 174.1,-120.52 265.1,-142.35 415.1,-395.02 150,-252.67 176.2,-424.57 215.7,-456.15 39.5,-31.58 236.9,7.89 339.5,63.16 102.7,55.28 106.5,85.79 202.4,309.9 132.8,310.73 348.7,692.21 514.5,913.29 165.8,221.08 514.9,511.88 530.7,567.15 15.7,55.27 -150.1,80.93 -308,33.56 -157.9,-47.37 -490.5,-413.25 -691.4,-701.13 -223.1,-319.85 -302.4,-589.81 -341.9,-581.92 -39.5,7.9 -116.6,168.89 -227.2,287.33 -110.5,118.43 -227,198.67 -361.2,174.98 -134.3,-23.69 -368.5,-159.56 -288.2,-215.15"
                                                    style="fill:#62b020;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                                    id="path96"></path>
                                                <path style="fill:#777;"
                                                    d="m 14478.6,6140.18 v -886.54 c 0,-180.53 -146.9,-327.44 -327.4,-327.44 h -1288.9 c -180.5,0 -327.4,146.91 -327.4,327.44 v 1288.89 c 0,180.54 146.9,327.4 327.4,327.4 h 1288.9 c 46.3,0 90.4,-9.73 130.4,-27.19 65.3,66.49 120.5,116.52 166.9,154.28 -85.5,56.11 -187.6,88.88 -297.3,88.88 h -1288.9 c -299.6,0 -543.4,-243.75 -543.4,-543.37 V 5253.64 c 0,-299.64 243.8,-543.34 543.4,-543.34 h 1288.9 c 299.6,0 543.4,243.7 543.4,543.34 v 1168.58 c -41.8,-45.13 -80.2,-89.47 -111,-130.51 -33.3,-44.45 -68.7,-95.69 -105,-151.53"
                                                    id="path98"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="sOutline_item_text">
                                    Todo - Square Radius
                                </div>
                            </div>
                            <div class="sOutline_item sOutline_item_lrg" data-outline="outline_discovery_4_icon_boxed">
                                <div class="sOutline_item_icon">
                                    <svg class="complete-check" width="30px" version="1.1" id="Layer_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;"
                                        xml:space="preserve">
                                        <path style="fill:#777;" id="XMLID_1_"
                                            d="M25.1,12c-0.3,0.4-0.6,0.9-1,1.4v14.1H2.5V5.8h20.3c1.3-1.2,2.5-2.2,3.5-2.5H0V30h26.7V10.3C26.1,10.9,25.6,11.5,25.1,12z"
                                            fill="var(--text-color-1)"></path>
                                        <path id="path96_1_" style="fill: #63B045;"
                                            d="M5.1,16.2c2,1.4,3,1.6,4.7,4.4s2,4.8,2.4,5.1c0.4,0.4,2.7-0.1,3.8-0.7c1.2-0.6,1.2-1,2.3-3.5c1.5-3.5,3.9-7.8,5.8-10.3c1.9-2.5,5.8-5.7,6-6.4c0.2-0.6-1.7-0.9-3.5-0.4c-1.8,0.5-5.5,4.6-7.8,7.9c-2.5,3.6-3.4,6.6-3.8,6.5c-0.4-0.1-1.3-1.9-2.6-3.2c-1.2-1.3-2.5-2.2-4.1-2C6.8,14,4.2,15.5,5.1,16.2">
                                        </path>
                                    </svg>
                                </div>
                                <div class="sOutline_item_text">
                                    Todo - Square
                                </div>
                            </div>
                        </div>
                        <div class="r3-col last">
                            <div class="sOutline_item" data-outline="outline_evolution_2">
                                <div class="sOutline_item_icon">
                                    <div class="outline-bullets outline-bullets-dimonds"><span></span></div>
                                </div>
                                <div class="sOutline_item_text">
                                    Todo - Diamnond
                                </div>
                            </div>
                            <div class="sOutline_item" data-outline="outline_discovery_5">
                                <div class="sOutline_item_icon sOutline_item_large_icon">
                                    <svg id="Arrow_-_Right_2" data-name="Arrow - Right 2"
                                        xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12">
                                        <path style="fill:#fff;" id="Arrow_-_Right_2-2" data-name="Arrow - Right 2"
                                            d="M9.631,7.131c-.057.058-.27.306-.469.51a21.69,21.69,0,0,1-5.8,4.024A4.617,4.617,0,0,1,2.188,12a1.933,1.933,0,0,1-.9-.218,1.874,1.874,0,0,1-.795-.9A9.84,9.84,0,0,1,.242,9.814,23.979,23.979,0,0,1,0,6.008,27.724,27.724,0,0,1,.213,2.319,8.495,8.495,0,0,1,.554.992,1.785,1.785,0,0,1,2.132,0h.057A4.879,4.879,0,0,1,3.509.409,21.69,21.69,0,0,1,9.177,4.375a5.66,5.66,0,0,1,.482.554A1.783,1.783,0,0,1,10,5.993a1.875,1.875,0,0,1-.369,1.138"
                                            fill="#125ffd"></path>
                                    </svg>
                                </div>
                                <div class="sOutline_item_text">
                                    Todo - Large Icon
                                </div>
                            </div>
                        </div>

                        <div class="outline-select-wrap" style="display:none">
                            <select class="select_outline" style="display: none;">
                                <option value="Hide">Hide</option>
                                <option value="outline_discovery_1" selected="selected">discovery 1</option>
                                <option value="outline_discovery_2">discovery 2</option>
                                <option value="outline_discovery_3">Explorer</option>
                                <option value="outline_discovery_4">discovery 4 Boxed Minimal</option>
                                <option value="outline_discovery_4_icon_minimal">discovery 4 Minimal</option>
                                <option value="outline_discovery_4_icon_doodle">discovery 4 Doodle</option>
                                <option value="outline_discovery_4_icon_boxed_radius">discovery 4 Boxed Radius</option>
                                <option value="outline_discovery_4_icon_boxed">discovery 4 Boxed</option>
                                <option value="outline_discovery_5">discovery 5</option>
                                <option value="outline_discovery_6">discovery 6</option>
                                <option value="outline_discovery_7">discovery 7</option>
                                <option value="outline_curiosity_1">curiosity 1</option>
                                <option value="outline_curiosity_2">curiosity 2</option>
                                <option value="outline_evolution_2">evolution 2</option>
                            </select>
                            <div class="nice-select select_outline" tabindex="0"><span class="current">discovery
                                    2</span>
                                <ul class="list">
                                    <li data-value="Hide" class="option">Hide</li>
                                    <li data-value="outline_discovery_1" class="option">discovery 1</li>
                                    <li data-value="outline_discovery_2" class="option selected">discovery 2</li>
                                    <li data-value="outline_discovery_3" class="option">Explorer</li>
                                    <li data-value="outline_discovery_4" class="option">discovery 4 Boxed Minimal</li>
                                    <li data-value="outline_discovery_4_icon_minimal" class="option">discovery 4 Minimal
                                    </li>
                                    <li data-value="outline_discovery_4_icon_doodle" class="option">discovery 4 Doodle
                                    </li>
                                    <li data-value="outline_discovery_4_icon_boxed_radius" class="option">discovery 4
                                        Boxed Radius</li>
                                    <li data-value="outline_discovery_4_icon_boxed" class="option">discovery 4 Boxed
                                    </li>
                                    <li data-value="outline_discovery_5" class="option">discovery 5</li>
                                    <li data-value="outline_discovery_6" class="option">discovery 6</li>
                                    <li data-value="outline_discovery_7" class="option">discovery 7</li>
                                    <li data-value="outline_curiosity_1" class="option">curiosity 1</li>
                                    <li data-value="outline_curiosity_2" class="option">curiosity 2</li>
                                    <li data-value="outline_evolution_2" class="option">evolution 2</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r3_post_layout" tab="post_layout">

                <div class="r3_layout_tab_wrapper">

                    <div class="headers_top_padding top_padding_post">
                        <label>Top Padding (px)</label>
                        <input type="number" placeholder="0">
                    </div>

                    <div class="swiper-container post-swiper-container">
                        <div class="swiper-wrapper r3_post_wrapper">
                            <div post_conf="HMt-SMt-APr-RFf-PLd-PId-HBf-MPd-SPd" tp="20" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_1.jpg"></div>
                            <div post_conf="HMf-SMt-APh-RFf-PLn-PId-HBf-MPl-SPd" tp="0" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_2.jpg"></div>
                            <div post_conf="HMt-SMt-APr-RFf-PLh-PId-HBf-MPd-SPd" tp="30" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_3.jpg"></div>
                            <div post_conf="HMf-SMt-APr-RFf-PLd-PId-HBf-MPl-SPd" tp="0" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_4.jpg"></div>
                            <div post_conf="HMf-SMt-APb-RFf-PLh-PId-HBf-MPl-SPd" tp="0" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_5.jpg"></div>
                            <div post_conf="HMt-SMt-APb-RFf-PLh-PId-HBf-MPd-SPd" tp="30" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_6.jpg"></div>
                            <div post_conf="HMt-SMt-APr-RFf-PLl-PId-HBf-MPd-SPd" tp="30" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_7.jpg"></div>
                            <div post_conf="HMf-SMf-APb-RFf-PLh-PId-HBf-MPl-SPr" tp="0" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_8.jpg"></div>
                            <div post_conf="HMt-SMt-APb-RFf-PLh-PId-HBf-MPd-SPd" tp="20" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_9.jpg"></div>
                            <div post_conf="HMf-SMt-APb-RFf-PLh-PId-HBf-MPl-SPd" tp="0" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_10.jpg"></div>
                            <div post_conf="HMt-SMt-APr-RFf-PLn-PId-HBf-MPd-SPd" tp="30" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_11.jpg"></div>
                            <div post_conf="HMf-SMf-APb-RFf-PLh-PId-HBf-MPr-SPl" tp="0" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_12.jpg"></div>
                            <div post_conf="HMt-SMf-APh-RFf-PLn-PId-HBf-MPd-SPl" tp="20" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_13.jpg"></div>
                            <div post_conf="HMt-SMf-APb-RFf-PLh-PId-HBf-MPd-SPl" tp="20" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/layout_post_14.jpg"></div>
                        </div>
                        <div class="swiper-but swiper-button-prev"></div>
                        <div class="swiper-but swiper-button-next"></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
            <div class="r3_post_sections_layout" tab="post_sections">

                <div class="r3_layout_tab_wrapper">
                    <div class="swiper-container post-swiper-container">
                        <div class="swiper-wrapper r3_post_sections_wrapper">
                            <div post_tabs="pb-pc-cd-pq-pn" post_sections="pm-pt-pb-pc-cd-pq-pn-pr" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/post_sections_1.jpg"></div>
                            <div post_tabs="th" post_sections="pm-pb-cd" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/post_sections_2.jpg"></div>
                            <div post_tabs="pb-cd-pn" post_sections="pm-pt-pb-cd-pn-pr" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/post_sections_3.jpg"></div>
                            <div post_tabs="pb-cd-pn" post_sections="pm-pq-pt-pb-cd-pn" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/post_sections_4.jpg"></div>
                            <div post_tabs="pc-pq-pn-cd" post_sections="pm-pb-pt-pc-pq-pn-cd-pr" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/post_sections_5.jpg"></div>
                            <div post_tabs="pb-pc-pn-pr-pq" post_sections="pm-pt-pb-pc-pn-pr-pq" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/post_sections_6.jpg"></div>
                            <div post_tabs="th" post_sections="pm-pb-pc" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/post_sections_7.jpg"></div>
                            <div post_tabs="pq-pc-pn-cd" post_sections="pm-pb-pt-pq-pc-pn-cd-pr" class="swiper-slide"><img
                                    src="http://s3.robust-themes.com/products/images/post_sections_8.jpg"></div>
                        </div>
                        <div class="swiper-but swiper-button-prev"></div>
                        <div class="swiper-but swiper-button-next"></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
            <div class="" tab="features">
                <div class="r3_features_wrapper">
                    <div class="feature_tabs_wrapper">
                        <div class="duoptions_ui feature_tabs">
                            <div class="u_left active" value="enable_tabs">Enable Tabs</div>
                            <div class="u_right" value="disable_tabs">Disable Tabs</div>
                            <div value="desktop_only">Desktop Only</div>
                        </div>
                    </div>
                    <div class="feature_post_wrapper">
                        <h4>Section Style</h4>
                        <div class="duoptions_ui feature_posts">
                            <div class="u_left active" value="normal">Normal</div>
                            <div class="u_right" value="card">Card</div>
                        </div>
                    </div>
                    <div class="features_tabs_sections">
                        <div data-name="post_body_mobile_discovery_v1" class="post-section-sort">
                            <div class="use-post-section">
                                <input type="checkbox" checked />
                                <label>Enable Section</label>
                            </div>
                            <div class="post-section-name">
                                Lesson Info
                            </div>
                        </div>
                        <div data-name="post_tabs" class="post_tabs_wrapper">
                            <span>Tabs</span>
                            <div class="post_tabs_sortable">
                            </div>
                        </div>
                        <div data-name="comments_discovery_v1" class="post-section-sort">
                            <div class="use-post-section">
                                <input type="checkbox" checked />
                                <label>Enable Section</label>
                            </div>
                            <div class="post-section-name">
                                Comments
                            </div>
                        </div>
                        <div data-name="post_user_notes" class="post-section-sort">
                            <div class="use-post-section">
                                <input type="checkbox" checked />
                                <label>Enable Section</label>
                            </div>
                            <div class="post-section-name">
                                Notes
                            </div>
                        </div>
                        <div data-name="post_chat" class="post-section-sort">
                            <div class="use-post-section">
                                <input type="checkbox" checked />
                                <label>Enable Section</label>
                            </div>
                            <div class="post-section-name">
                                Messages
                            </div>
                        </div>
                        <div data-name="post_questions" class="post-section-sort">
                            <div class="use-post-section">
                                <input type="checkbox" checked />
                                <label>Enable Section</label>
                            </div>
                            <div class="post-section-name">
                                Questions
                            </div>
                        </div>
                        <div data-name="post_related_posts" class="post-section-sort">
                            <div class="use-post-section">
                                <input type="checkbox" checked />
                                <label>Enable Section</label>
                            </div>
                            <div class="post-section-name">
                                Related
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r3_headers" tab="headers">
                <div class="r3_headers_wrapper">
                    <div class="headers_layout swiper-container">
                        <div class="swiper-wrapper">
                            <div class="headers-wrap swiper-slide" name="header_discovery_1">
                                <img src="http://s3.robust-themes.com/products/images/discovery.jpg?v=1" alt="">
                            </div>
                            <div class="headers-wrap swiper-slide" name="header_discovery_with_links">
                                <img src="http://s3.robust-themes.com/products/images/discovery_with_links.jpg?v=1"
                                    alt="">
                            </div>
                            <div class="headers-wrap swiper-slide" name="header_curiosity_1">
                                <img src="http://s3.robust-themes.com/products/images/curiosity_1.jpg?v=1" alt="">
                            </div>
                            <div class="headers-wrap swiper-slide" name="header_curiosity_2">
                                <img src="http://s3.robust-themes.com/products/images/curiosity_2.jpg?v=1" alt="">
                            </div>
                            <div class="headers-wrap swiper-slide" name="header_curiosity_2_with_links">
                                <img src="http://s3.robust-themes.com/products/images/curiosity_1_with_links.jpg?v=1"
                                    alt="">
                            </div>
                            <div class="headers-wrap swiper-slide" name="header_curiosity_3">
                                <img src="http://s3.robust-themes.com/products/images/curiosity_3.jpg?v=1" alt="">
                            </div>
                            <div class="headers-wrap swiper-slide" name="header_evolution">
                                <img src="http://s3.robust-themes.com/products/images/evolution_light.jpg?v=1" alt="">
                            </div>
                            <div class="headers-wrap swiper-slide" name="header_accent_background">
                                <img src="http://s3.robust-themes.com/products/images/evolution_accent.jpg?v=1" alt="">
                            </div>
                        </div>
                        <div class="swiper-but swiper-button-prev"></div>
                        <div class="swiper-but swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <div class="r3_headers" tab="background">
                <div class="r3_background_wrapper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" name="evn"><img
                                src="http://s3.robust-themes.com/products/images/evolution_evn.jpg" alt=""></div>
                        <div class="swiper-slide" name="fit">
                            <img
                                src="http://s3.robust-themes.com/products/images/evolution_fit.jpg" alt=""></div>
                        <div class="swiper-slide" name="bus"><img
                                src="http://s3.robust-themes.com/products/images/evolution_bus.jpg" alt=""></div>
                        <div class="swiper-slide" name="bus2"><img
                                src="http://s3.robust-themes.com/products/images/evolution_bus2.jpg" alt=""></div>
                        <div class="swiper-slide" name="edc"><img
                                src="http://s3.robust-themes.com/products/images/evolution_edc.jpg" alt=""></div>
                        <div class="swiper-slide" name="ckg"><img
                                src="http://s3.robust-themes.com/products/images/evolution_ckg.jpg" alt=""></div>
                        <div class="swiper-slide" name="glf"><img
                                src="http://s3.robust-themes.com/products/images/evolution_glf.jpg" alt=""></div>
                        <div class="swiper-slide" name="pht"><img
                                src="http://s3.robust-themes.com/products/images/evolution_pht.jpg" alt=""></div>
                        <div class="swiper-slide" name="nrn"><img
                                src="http://s3.robust-themes.com/products/images/evolution_nrn.jpg" alt=""></div>
                        <div class="swiper-slide" name="stk"><img
                                src="http://s3.robust-themes.com/products/images/evolution_stk.jpg" alt=""></div>
                        <div class="swiper-slide" name="mkp"><img
                                src="http://s3.robust-themes.com/products/images/evolution_mkp.jpg" alt=""></div>
                        <div class="swiper-slide" name="lfe"><img
                                src="http://s3.robust-themes.com/products/images/evolution_lfe.jpg" alt=""></div>
                        <div class="swiper-slide" name="hlt"><img
                                src="http://s3.robust-themes.com/products/images/evolution_hlt.jpg" alt=""></div>
                        <div class="swiper-slide" name="yg1"><img
                                src="http://s3.robust-themes.com/products/images/evolution_yg1.jpg" alt=""></div>
                        <div class="swiper-slide" name="pnt"><img
                                src="http://s3.robust-themes.com/products/images/evolution_pnt.jpg" alt=""></div>
                        <div class="swiper-slide" name="oil"><img
                                src="http://s3.robust-themes.com/products/images/evolution_oil.jpg" alt=""></div>
                        <div class="swiper-slide" name="dot"><img
                                src="http://s3.robust-themes.com/products/images/evolution_dot.jpg" alt=""></div>
                        <div class="swiper-slide" name="blb"><img
                                src="http://s3.robust-themes.com/products/images/evolution_blob.jpg" alt=""></div>
                        <div class="swiper-slide" name="spl"><img
                                src="http://s3.robust-themes.com/products/images/evolution_spl.jpg" alt=""></div>
                        <div class="swiper-slide" name="wre"><img
                                src="http://s3.robust-themes.com/products/images/evolution_wre.jpg" alt=""></div>
                        <div class="swiper-slide" name="tre"><img
                                src="http://s3.robust-themes.com/products/images/evolution_tre.jpg" alt=""></div>
                        <div class="swiper-slide" name="pol"><img
                                src="http://s3.robust-themes.com/products/images/evolution_pol.jpg" alt=""></div>
                        <div class="swiper-slide" name="bl2"><img
                                src="http://s3.robust-themes.com/products/images/evolution_bl2.jpg" alt=""></div>
                        <div class="swiper-slide" name="flr"><img
                                src="http://s3.robust-themes.com/products/images/evolution_flr.jpg" alt=""></div>
                        <div class="swiper-slide" name="bl3"><img
                                src="http://s3.robust-themes.com/products/images/evolution_bl3.jpg" alt=""></div>
                        <div class="swiper-slide" name="fl2"><img
                                src="http://s3.robust-themes.com/products/images/evolution_fl2.jpg" alt=""></div>
                        <div class="swiper-slide" name="crc"><img
                                src="http://s3.robust-themes.com/products/images/evolution_crc.jpg" alt=""></div>
                        <div class="swiper-slide" name="geo"><img
                                src="http://s3.robust-themes.com/products/images/evolution_geo.jpg" alt=""></div>
                        <div class="swiper-slide" name="pat"><img
                                src="http://s3.robust-themes.com/products/images/evolution_pat.jpg" alt=""></div>


                    </div>
                </div>
            </div>
            <div class="r3_progress" tab="progress">
                <div class="r3_progress_wrapper">
                    <div class="progress_position">
                        <div class="duoptions_ui progress_btns">
                            <div class="u_left" data-value="p_main_sidebar">Main Bar</div>
                            <div class="u_right" data-value="p_secondary_sidebar">Second Bar</div>
                        </div>
                    </div>
                    <div class="progress_positions progress_swiper swiper-container">
                        <div class="swiper-wrapper">
                            <div class="progress-w progress-sq swiper-slide" name="All Elements"><img
                                    src="http://s3.robust-themes.com/products/images/all_elements.jpg?v=1" alt=""></div>
                            <div class="progress-w progress-sq swiper-slide" name="Avatar Basic"><img
                                    src="http://s3.robust-themes.com/products/images/avatar_basic.jpg?v=1" alt=""></div>
                            <div class="progress-w swiper-slide" name="Columns"><img
                                    src="http://s3.robust-themes.com/products/images/columns.jpg?v=1" alt=""></div>
                            <div class="progress-w swiper-slide" name="Columns Accent"><img
                                    src="http://s3.robust-themes.com/products/images/columns_accent.jpg?v=1" alt="">
                            </div>
                            <div class="progress-w swiper-slide" name="Columns Light"><img
                                    src="http://s3.robust-themes.com/products/images/columns_light.jpg?v=1" alt=""></div>
                            <div class="progress-w swiper-slide" name="Columns Percent"><img
                                    src="http://s3.robust-themes.com/products/images/columns_percent.jpg?v=1" alt="">
                            </div>
                            <div class="progress-w swiper-slide" name="No Avatar"><img
                                    src="http://s3.robust-themes.com/products/images/no_avatar.jpg?v=1" alt=""></div>
                            <div class="progress-w swiper-slide" name="No Avatar Light"><img
                                    src="http://s3.robust-themes.com/products/images/no_avatar_light.jpg?v=1" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r3_badges" tab="badges">
                <div class="r3_badges_wrapper">
                    <div class="badges_position">
                        <div class="duoptions_ui badges_btns">
                            <div class="u_left" data-value="p_main_sidebar">Main Bar</div>
                            <div class="u_right" data-value="p_secondary_sidebar">Second Bar</div>
                        </div>
                    </div>
                    <div class="badges_positions badges_swiper swiper-container">
                        <div class="swiper-wrapper">
                            <div class="badge-w swiper-slide" badge="no_badge"><img
                                    src="http://s3.robust-themes.com/products/images/no-badge.jpg" alt=""></div>
                            <div class="badge-w swiper-slide" badge="p_badges_4"><img
                                    src="http://s3.robust-themes.com/products/images/badge_4.jpg" alt=""></div>
                            <div class="badge-w swiper-slide" badge="p_badges_5"><img
                                    src="http://s3.robust-themes.com/products/images/badge_5.jpg" alt=""></div>
                            <div class="badge-w swiper-slide" badge="p_badges_6"><img
                                    src="http://s3.robust-themes.com/products/images/badge_6.jpg" alt=""></div>
                            <div class="badge-w swiper-slide" badge="p_badges_7"><img
                                    src="http://s3.robust-themes.com/products/images/badge_7.jpg" alt=""></div>
                            <div class="badge-w swiper-slide" badge="p_badges_8"><img
                                    src="http://s3.robust-themes.com/products/images/badge_8.jpg" alt=""></div>
                            <div class="badge-w swiper-slide" badge="p_badges_9"><img
                                    src="http://s3.robust-themes.com/products/images/badge_9.jpg" alt=""></div>
                            <div class="badge-w swiper-slide" badge="p_badges_10"><img
                                    src="http://s3.robust-themes.com/products/images/badge_10.jpg" alt=""></div>
                            <div class="badge-w swiper-slide" badge="p_badges_11"><img
                                    src="http://s3.robust-themes.com/products/images/badge_11.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="sidebar_drag_wrapper">
    <div class="sidebar_drag">
        <div class="drag_wrapper">
            <div class="close-sbar"><i class="far fa-times"></i></div>
            <div class="swiper-container sidebar-swiper">
                <div class="swiper-wrapper sidebar-collection">
                    <div class="swiper-slide" sbar="secondary_sidebar_discovery_5" badge="p_badges_5"><img
                            src="http://s3.robust-themes.com/products/images/sidebars_1.jpg" alt=""></div>
                    <div class="swiper-slide" sbar="secondary_sidebar_discovery_4" badge="p_badges_4"><img
                            src="http://s3.robust-themes.com/products/images/sidebars_2.jpg" alt=""></div>
                    <div class="swiper-slide" sbar="secondary_sidebar_discovery_2"><img
                            src="http://s3.robust-themes.com/products/images/sidebars_3.jpg" alt=""></div>
                    <div class="swiper-slide" sbar="secondary_sidebar_discovery_6" badge="p_badges_6" badgeIndex="2"><img
                            src="http://s3.robust-themes.com/products/images/sidebars_4.jpg" alt=""></div>
                    <div class="swiper-slide" sbar="secondary_sidebar_discovery_7" badge="p_badges_8"><img
                            src="http://s3.robust-themes.com/products/images/sidebars_9.jpg" alt=""></div>
                    <div class="swiper-slide" sbar="secondary_sidebar_discovery_v1"><img
                            src="http://s3.robust-themes.com/products/images/sidebars_5.jpg" alt=""></div>
                    <div class="swiper-slide" sbar="secondary_sidebar_evolution_1"><img
                            src="http://s3.robust-themes.com/products/images/sidebars_6.jpg" alt=""></div>
                    <div class="swiper-slide" sbar="secondary_sidebar_discovery_1"><img
                            src="http://s3.robust-themes.com/products/images/sidebars_7.jpg" alt=""></div>
                    <div class="swiper-slide" sbar="main_sidebar_discovery_1"><img
                            src="http://s3.robust-themes.com/products/images/sidebars_8.jpg" alt=""></div>
                    <div class="swiper-slide" sbar="no_sidebar"><img
                            src="http://s3.robust-themes.com/products/images/no-sidebar.jpg" alt=""></div>
                </div>
                <div class="swiper-but swiper-button-prev"></div>
                <div class="swiper-but swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>
<textarea id="payload" style="display:none;"></textarea>
<input type="hidden" id="payload_flag" style="display:none;">