<h5
  kjb-settings-id="{{ 'unscheduled_title' | settings_id: section: section }}"
  {% element_attributes "section.settings.unscheduled_title" %}
>
  {{ section.settings.unscheduled_title }}
</h5>
<p
  kjb-settings-id="{{ 'unscheduled_text' | settings_id: section: section }}"
  {% element_attributes "section.settings.unscheduled_text" %}
>
  {{ section.settings.unscheduled_text }}
</p>
