<!doctype html>
<html lang="{{ current_site.locale | default: "en" }}">
  {% include "global_head" %}
  {% include "global_background" %}
  <body id="encore-theme" class="background-{{ settings.background_color | color_scheme_class }}">
    {% include "navigation_controller", nav_section: "hardcoded_nav_minimal" %}
    {% include "alert_messages" %}
    {% section "header" %}
    <main id="main-content" role="main">
      {{ content_for_layout }}
    </main>
    {% include "footer_controller", footer_section: "nav_footer_modern" %}
    {% include "global_scripts" %}
  </body>
</html>
