{% assign alignment = section.settings.alignment %}
{% assign show_dashboard = settings.show_dashboard %}

{% assign KJB-alignment = 'alignment' | settings_id: section: section %}
{% assign KJB_show_dashboard = 'show_dashboard' %}

{% if show_dashboard %}
  {% if section.blocks.size > 0 %}
    <div style="text-align: {{ alignment }}"  kjb-settings-id="{{ KJB-alignment }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product_video' %}
            {% include "product_video" %}
          {% when 'product_text' %}
            {% include "product_text" %}
          {% when 'product_img' %}
            {% include "product_img" %}
          {% when 'product_card' %}
            {% include "product_card" %}
          {% when 'coaching_scheduling_widget' %}
            {% include "coaching_scheduling_widget", sectionType: 'sidebar' %}
        {% endcase %}
      {% endfor %}
    </div>
  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Dashboard Sidebar",
    "blocks": [
      {
        "type": "product_card",
        "name": "Card",
        "elements": [
          {
            "type": "header",
            "content": "Card"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Suggested dimensions: 1856 × 1044"
          },
          {
            "type": "action",
            "id": "img_action",
            "label": "Image Action",
            "default": ""
          },
          {
            "type": "checkbox",
            "id": "link_target",
            "label": "Open In New Window",
            "default": "false"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui."
          }
        ]
      },
      {
        "type": "product_video",
        "name": "Video",
        "elements": [
          {
            "type": "header",
            "content": "Video"
          },
          {
            "type": "checkbox",
            "label": "Autoplay",
            "id": "autoplay",
            "default": "false"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Suggested dimensions: 1856 × 1044"
          }
        ]
      },
      {
        "type": "product_text",
        "name": "Text",
        "elements": [
          {
            "type": "header",
            "content": "Text"
          },
          {
            "type": "rich_text",
            "id": "content",
            "label": "Content",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui."
          }
        ]
      },
      {
        "type": "product_img",
        "name": "Image",
        "elements": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "width": 2300,
            "height": 2300,
            "info": "Suggested dimensions: 1856 × 1044"
          },
          {
            "type": "action",
            "id": "img_action",
            "label": "Image Action",
            "default": ""
          },
          {
            "type": "checkbox",
            "id": "link_target",
            "label": "Open In New Window",
            "default": "false"
          }
        ]
      },
      {
        "type": "coaching_scheduling_widget",
        "name": "Coaching Scheduling Widget",
        "elements": [
          {
            "type": "header",
            "content": "Coaching Scheduling Widget"
          },
          {
            "type": "coaching_program_for_scheduling_widget",
            "id": "coaching_program",
            "label": "Select Your Coaching Program",
            "preset": ""
          },
          {
            "type": "offer_for_productizable",
            "id": "offer",
            "label": "Select Your Offer",
            "preset": "",
            "hide_if": {
              "coaching_program": ""
            }
          },
          {
            "type": "checkbox",
            "id": "link_to_program_details",
            "label": "Link to Program Details",
            "default": "true"
          },
          {
            "type": "text",
            "id": "title_text",
            "label": "Title text",
            "default": "Program Title",
            "hide_if": {
              "link_to_program_details": true
            }
          },
          {
            "type": "text",
            "id": "description_text",
            "label": "Description text",
            "default": "Program Description",
            "hide_if": {
              "link_to_program_details": true
            }
          },
          {
            "type": "image_picker",
            "id": "thumbnail_image",
            "label": "Thumbnail image",
            "info": "Image must be square, with a maximum size of 1280 x 720 pixels",
            "fit": "crop",
            "width": 1280,
            "height": 720,
            "hide_if": {
              "link_to_program_details": true
            }
          },
          {
            "type": "checkbox",
            "id": "show_thumbnail",
            "label": "Show thumbnail",
            "default": "true"
          },
          {
            "type": "checkbox",
            "id": "show_price",
            "label": "Show price",
            "default": "true"
          },
          {
            "type": "checkbox",
            "id": "show_duration",
            "label": "Show duration",
            "default": "true"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text",
            "default": "Call To Action"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color Override",
            "default": "",
            "allow_blank": true
          },
          {
            "type": "color",
            "id": "cta_color",
            "label": "CTA Color Override",
            "default": "",
            "allow_blank": true
          },
          {
            "type": "color",
            "id": "cta_text_color",
            "label": "Text Color Override",
            "default": "",
            "allow_blank": true
          }
        ]
      }
    ],
    "elements": [
      {
        "type": "radio",
        "id": "alignment",
        "label": "Text Alignment",
        "default": "left",
        "options": [
          { "label": "Left", "value": "left" },
          { "label": "Center", "value": "center" },
          { "label": "Right", "value": "right" }
        ]
      }
    ]
  }
{% endschema %}
