{% for post in category.posts%}
  {% include "category_post" %}
{% endfor %}
{% if category.children? %}
  {% for category in category.subcategories %}
    {% unless category.pending_drip? %}
      <a href="{{ category.url }}" class="category-post">
        <h3 class="category-post-title">
          {% if category.show_as_paywalled? %}
            <div class="icon-row">
              {{ category.title }}
              {% include "icon_paywall" %}
            </div>
          {% else %}
            {{ category.title }}
          {% endif %}
        </h3>
      </a>
      {% for post in category.posts%}
        {% include "category_post" %}
      {% endfor %}
    {% endunless %}
  {% endfor %}
{% endif %}
