<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
    <title>assessment icon</title>
    <desc>Created with Sketch.</desc>
    <g id="assessment-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path class="color-stroke" d="M13.9819974,7.51682264 L7.62538369,13.875014 L4.5,14.5 L5.12507674,11.3750698 L11.4850242,5.01687848 C11.8153783,4.68595977 12.2638025,4.5 12.7314272,4.5 C13.1990519,4.5 13.6474761,4.68595977 13.9778302,5.01687848 L13.9853311,5.02354499 C14.672856,5.71302862 14.6713636,6.82917951 13.9819974,7.51682264 Z" id="Path" stroke="#748493" stroke-linecap="round" stroke-linejoin="round" transform="translate(9.500000, 9.500000) scale(-1, 1) rotate(-90.000000) translate(-9.500000, -9.500000) "></path>
        <rect class="color-fill" id="Rectangle-Copy-4" fill="#748493" fill-rule="nonzero" transform="translate(4.500000, 7.500000) scale(1, -1) translate(-4.500000, -7.500000) " x="3" y="7" width="3" height="1" rx="0.5"></rect>
        <rect class="color-fill" id="Rectangle-Copy-6" fill="#748493" fill-rule="nonzero" transform="translate(6.000000, 4.500000) scale(1, -1) translate(-6.000000, -4.500000) " x="3" y="4" width="6" height="1" rx="0.5"></rect>
        <path class="color-stroke" d="M0.5,12.5 L0.5,2.5 C0.5,1.3954305 1.3954305,0.5 2.5,0.5 L12.5,0.5" id="Path" stroke="#748493" stroke-linecap="round" fill-rule="nonzero"></path>
    </g>
</svg>
