<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
    <title>clock icon</title>
    <desc>Created with Sketch.</desc>
    <g id="clock-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon id="Icon" fill="#748493" points="7.875 3.75 6.75 3.75 6.75 8.25 10.6875 10.6125 11.25 9.69 7.875 7.6875"></polygon>
        <circle id="Oval" stroke="#748493" fill-rule="nonzero" cx="7.5" cy="7.5" r="7"></circle>
    </g>
</svg>
