<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
    <title>drip icon</title>
    <desc>Created with Sketch.</desc>
    <g id="drip-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path class="color-stroke" d="M4.52192827,14.5 L1.77272727,14.5 C1.06981941,14.5 0.5,13.9851275 0.5,13.35 L0.5,3.15 C0.5,2.51487254 1.06981941,2 1.77272727,2 L13.2272727,2 C13.9301806,2 14.5,2.51487254 14.5,3.15 L14.5,5.34471436" id="Path" stroke="#748493" stroke-linecap="round" stroke-linejoin="round" fill-rule="nonzero"></path>
        <circle id="Oval" class="color-stroke" stroke="#748493" fill-rule="nonzero" cx="10.75" cy="10.75" r="3.75"></circle>
        <polyline id="Path" class="color-stroke" stroke="#748493" stroke-linecap="round" stroke-linejoin="round" fill-rule="nonzero" points="12 11 10.5 11 10.5 9"></polyline>
        <rect id="Rectangle" class="color-fill" fill="#748493" fill-rule="nonzero" x="3" y="0" width="1" height="4" rx="0.5"></rect>
        <rect id="Rectangle-Copy" class="color-fill" fill="#748493" fill-rule="nonzero" x="7" y="0" width="1" height="4" rx="0.5"></rect>
        <rect id="Rectangle-Copy-2" class="color-fill" fill="#748493" fill-rule="nonzero" x="11" y="0" width="1" height="4" rx="0.5"></rect>
    </g>
</svg>
