<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
    <title>video lesson icon/default</title>
    <desc>Created with Sketch.</desc>
    <g id="video-lesson-icon/default" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon class="color-fill" id="Path" fill="#748493" fill-rule="nonzero" points="6 10.875 10.5 7.5 6 4.125"></polygon>
        <circle class="color-stroke" id="Oval" stroke="#748493" fill-rule="nonzero" cx="7.5" cy="7.5" r="7"></circle>
    </g>
</svg>
