{% assign live_session = post.live_session %}
{% assign color = settings.primary_color %}

{% if live_session and live_session.video %}
<div class="post-live-session-recording">
  <div class="main-content-container">
    <p>Session recording:</p>
    {{ live_session.video | wistia_video: player_color: color, playerPreference: "html5" }}
  </div>
</div>
{% endif %}
