{% assign show_dashboard = settings.show_dashboard %}

{% assign KJB_show_dashboard = 'show_dashboard' %}

{% if show_dashboard %}
  {% assign active_tab = "dashboard" %}
{% else %}
  {% assign active_tab = "modules" %}
{% endif %}

<div class="main-sidebar col flex-fill">
  {% section "product_title" %}
  {% section "product_outline" %}
</div>
<div class="main-content col flex-fill">
  {% include "responsive_toggle" %}
  {% section "dashboard_welcome" %}
  <div class="main-content-spacer">
    <div class="row">
      <div class="col-sm-8">
        {% assign active = "announcements" %}
        {% section "dashboard_tabs" %}
      </div>
      <div class="col-sm-4">
        {% include "search" %}
      </div>
    </div>
    {% section "announcements" %}
  </div>
</div>
{% include 'announcement_modal' %}
