<div class="main-sidebar col flex-fill">
  {% section "mini_dashboard" %}
  {% section "product_outline" %}
</div>
<div class="main-content col flex-fill">
  {% include "responsive_toggle" %}
  {% include "category_banner" %}
  <div class="main-content-spacer">
    {% section "category_outline" %}
  </div>
</div>
