<div class="main-sidebar col flex-fill">
  {% section "mini_dashboard" %}
  {% section "product_outline" %}
</div>
<div class="main-content col flex-fill">
  <div class="post-body flex-fill">
    {% include "post_comment" %}
  </div>
</div>
