<div class="main-sidebar col flex-fill">
  {% section "mini_dashboard" %}
  {% section "product_outline" %}
</div>
<div class="main-content col flex-fill">
  {% include "responsive_toggle" %}
  {% include "search" page_type: "post" %}
  {% include "post_media" %}
  {% section "post_actions" %}
  {% include "post_body" %}
  {% include "post_live_session_recording" %}
  {% include "post_comments" %}
</div>
{% section "post_completion" %}
{% section "post_paywall" %}
