{% for announcement in current_product.announcements %}
  {% assign announcement_id = announcement.id %}
  {% assign announcement_date = announcement.updated_at | date: "%m/%d/%Y" %}
  {% assign announcement_title = announcement.title %}
  {% assign announcment_body = announcement.body %}

  <div class="announcement-modal modal fade" id="announcment-{{ announcement_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="announcement-modal-dialog modal-dialog" role="document">
      <div class="announcement-modal-content modal-content">
        <a class="announcement-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
        <h5 class="announcement-date">{{ announcement_date }}</h5>
        <h4 class="announcement-title">{{ announcement_title }}</h4>
        {{ announcment_body }}
      </div>
    </div>
  </div>
{% endfor %}
