{% if is_completed or percent_complete == 100 %}
  <div class="progress-icon-wrapper">
    <div class="progress-icon progress-icon-100">
      <i class="progress-icon-check fas fa-check"></i>
    </div>
  </div>
{% else %}
  <div class="progress-icon-wrapper">
    <div class="progress-icon progress-icon-{{ percent_complete }}"></div>
  </div>
{% endif %}
