 <div class="search-result">
  <a class="search-result__title" href="{{ blog_post.url }}">{{ blog_post.title }}</a>
  <p class="search-result__body">{{ blog_post.content | strip_html | truncate: 255 }}</p>
</div>
 