<li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-20 level-1">
    <a href="#">
        <div class="menu-item-wrap"><span class="menu-item-title"
		kjb-settings-id="{{ 'text_369' | settings_id: section: section, block: block }}">
		{{block.settings.text_369}}
</span><span class="toggle-sub-menu"> </span></div>
    </a>
    <ul class="sub-menu children simple-menu">

    {% for link in current_site.link_lists[block.settings.link_list_5gg].links %}
        <li id="menu-item-1852" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1852">
            <a href="{{ link.url }}">
                <div class="menu-item-wrap"><span class="menu-item-title">{{ link.name }}</span></div>
            </a>
        </li>
    {% endfor %}


      
    </ul>
</li>