 

<div class="header_link_ist" kjb-settings-id="{{ 'link_list_763' | settings_id: section: section }}">
{% for link in current_site.link_lists[section.settings.link_list_763].links %}
    <li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-14 level-1 has-mega-menu">
        <a href="{{ link.url }}">
            <div class="menu-item-wrap"><span class="menu-item-title">{{ link.name }}</span></div>
        </a>
    </li>
{% endfor %}
</div>


		         


 