{%- if editor -%}
<textarea class="hints_data" style="display:none;"></textarea>
<textarea class="hints_content" style="display:none;"></textarea>
<script>

HINTS_DATA = 
{
    all:
    {
        elements: 
            [],
        blocks: 
        {   
            "all":[]
        },
    },
    section_types:{},

    section_names:{}
}


/*
HINTS_DATA = 
{
    all:
    {
        elements: 
            [
                {element: "background_color_preset", content_id: "background color preset"}
            ],
        blocks: 
        {   
            "all":
                [
                    {element: "settings_width", content_id: "section settings width"},
                    {element: "auto_width", content_id: "block auto width"}
                ],
            "social icons":
                [
                    {element: "link_type", content_id: "link type"}
                ]
        },
    },
    section_types: 
        {   
            "base":
                {
                    elements: 
                        [
                            {element: "header", content_id: "base header"},
                            {element: "background_color_preset", content_id: "background color preset"}
                        ]
                },
            "image_gallery":
                {
                    elements: 
                        [
                            {element: "header", content_id: "hero slider header"},
                            {element: "bg_type", content_id: "background color preset"}
                        ]
                }
        },

    section_names: 
        {   
            "meta 2":
                {
                    elements: 
                        [  
                            {element: "bg_video", content_id: "block auto width"}
                        ],
                    blocks: 
                        {   
                            "text":
                                [
                                    {element: "animation_effect", content_id: "link type"}
                                ]
                        }

                }
        }



}*/
HINTS_CONTENT  = 
{
    "section settings width": 'he libraries go to some lengths to get accurate offsets for an element. getBoundingClientRect() is a javascript function that returns the position.',
    "background color preset": 'background color preset content <a target="_blank" href="https://robust-themes/hints/base-header">MORE</a>',
    "block auto width": 'he libraries go to some lengths to get accurate offsets for',
    "base header": 'Robust Flex section <a target="_blank" href="https://robust-themes/hints/base-header">LEARN MORE</a>'
}
</script>
{%- endif -%}