<form action="{{ current_product.search_url }}" method="get" role="search">
    <div class="input-group search">
      <div class="input-group-prepend">
        <div class="input-group-text search-icon"><i class="fa fa-search"></i></div>
      </div> 
      <input class="form-control search-input" type="search" name="q" placeholder="{{block.settings.search_text}}">
    </div>
  </form>