
{% assign shape_color = block.settings.custom_shape_color %}
{%- if block.settings.custom_shape_color == blank -%}
    {%- assign s_color_preset = block.settings.shape_color -%}
    {%- assign shape_color = "var(" | append:s_color_preset | append:")" -%}
{%- endif -%}


{%- if block.settings.float_animation -%}
<span class="float-animation" style="display:none;"></span>
{%- endif -%}
 
{%- if block.settings.shape_type == "Image" -%}
    <img class="nimage" src="{% include "image_patch", img: block.settings.image %}">
{%- endif -%}
{%- if block.settings.shape_type == "Predefined Shape" -%}
    {% include "background_shape_shapes" shape: block.settings.background_shape %}
{%- endif -%}
{%- if block.settings.shape_type == "SVG Code" -%}
    {%- assign iconA_color = shape_color -%} 
    {%- assign iconA = block.settings.svg_code -%} 
    {%- include "icon_replace_colors" -%}
    {{iconA}}
{%- endif -%}