{% if section.settings.position == "sidebar" %}
  <style>
    #section-{{ section.id}}{
      width: 20%;
      min-width: 300px;
      float: left;
      z-index: 2;
      position: relative;
    }
  </style>
{% endif %}
{% if section.settings.show_heading %}
  <div class="col-md-12 search_title">
    <h3>{{ section.settings.heading }}</h3>
    {% if section.settings.show_reset %}
      <div class="lesson-search-reset">
        <button>
          <span>Clear All</span>
        </button>
      </div>
    {% endif %}
  </div>
{% endif %}
{%- assign number_of_columns = 0 %}
{%- for block in section.blocks -%}
  {% if block.type == 'clmn' %}
    {%- assign number_of_columns = number_of_columns | plus: 1 %}
  {% endif %}
{% endfor %}
{%- for i in (1..number_of_columns) %}
  {%- assign tmp_count = 0 %}
  {%- for block in section.blocks -%}
    {% if block.type == 'clmn' %}
      {%- assign tmp_count = tmp_count | plus: 1 %}
      {% if tmp_count == i %}
        {% assign this_clmn = block %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {%- assign clmn_position = this_clmn.settings.position_clmn | plus: 0 %}
  {%- if skip_clmns contains i or clmn_position != 0 %}
    {%- continue %}
  {%- endif %}
  {%- include "create_clmn" skip_inner_loop: false, index: i %}
{%- endfor %}
<script>

  jQuery(document).ready(function() {
    var section_class = `{{section.settings.section_class}}`
    if ($('section[data-type="p_lessons"]').length != 0) {
      var lessons_section = $(".n_p_lesson_search").parent().next().children('.n_p_lessons')
      if (section_class != '') {
        lessons_section = $(`.${section_class}`)
      }
      var lesson_data = create_lesson_object(lessons_section, true)
      console.log(lesson_data)
      filter_events(lesson_data.lessonHtml, lesson_data.lesson_object)
      appendTagFilters(lesson_data.lesson_object)
      if (window
          .location
          .href
          .includes("/search")) {
        getfiltersFromUrl()
      }

        handleFilters(lesson_data.lesson_object, lesson_data.lessonHtml)
    }
  })
</script>
